{% extends "base_layout.html" %}
{% load wagtailcore_tags %}
{% load staticfiles %}
{% load submenu %}
{% load wagtailimages_tags %}

{% block body_css_class %}club_page{% endblock %}

{% block title %} {{page.title}} {% endblock %}

{% block main %}
  <img class="triangle flip-x justify-bottom" src="{% static "images/tilted-bg-black-bottom.svg" %}">
  {% submenu page %}

  <section class="body black">
    <img class="triangle justify-bottom" src="{% static "images/tilted-bg-white-top.svg" %}">
    <a id="body"></a>
    <div class="content ignore-height">
      {{ page.body|richtext }}
    </div>
    <img class="triangle justify-top" src="{% static "images/tilted-bg-white-bottom.svg" %}">
  </section>

  <section class="introduction" id="esittely"}>
    <a id="introduction"></a>
    <img class="triangle justify-bottom" src="{% static "images/tilted-bg-white-top.svg" %}">
    <div class="content ignore-height">
      {{ page.introduction|richtext }}
    </div>
  </section>

  <section class="values black" id="arvot">
    <img class="triangle justify-bottom" src="{% static "images/tilted-bg-white-top.svg" %}">
    <a id="values"></a>
    <div class="content ignore-height">
      {{ page.values|richtext }}
    </div>
    <img class="triangle justify-top" src="{% static "images/tilted-bg-white-bottom.svg" %}">
  </section>

  <section class="contact">
    <a id="contact"></a>
    <div class="content ignore-height">
      {{ page.contact|richtext }}
    </div>
    <img class="triangle justify-top" src="{% static "images/tilted-bg-white-bottom.svg" %}">
  </section>

  <section class="personnel black">
    <a id="personnel"></a>
    <img class="triangle flip-y justify-bottom" src="{% static "images/tilted-bg-white-bottom.svg" %}">
    <div class="content ignore-height">
      {{ page.personnel|richtext }}
    </div>
  </section>

  <img class="triangle black-bg" src="{% static "images/tilted-line-almost-black.svg" %}">


{% endblock %}

{% block footer %}
  {% include "footer.html" with sponsor_items=page.front_page_sponsors %}
{% endblock %}