{% extends "base_layout.html" %}
{% load wagtailcore_tags %}
{% load staticfiles %}
{% load wagtailimages_tags %}

{% block title %} {{page.title}} {% endblock %}
{% block main %}

  <section class="club-body">
    <div class="content ignore-height"
    {{ page.body|richtext }}
  </section>
  <section class="club-introduction">
    <img class="triangle flip-y justify-bottom" src="{% static "images/tilted-bg-white-bottom.svg" %}">
    <div class="content ignore-height">
      {{ page.introduction|richtext }}
    </div>
    <img class="triangle flip-y justify-bottom" src="{% static "images/tilted-bg-white-top.svg" %}">
  </section>
  <section class="club-values">
    <img class="triangle flip-y justify-bottom" src="{% static "images/tilted-bg-white-bottom.svg" %}">
    <div class="content ignore-height">
      {{ page.values|richtext }}
    </div>
    <img class="triangle flip-y justify-bottom" src="{% static "images/tilted-bg-white-top.svg" %}">
  </section>
  <section class="club-contact">
    <img class="triangle flip-y justify-bottom" src="{% static "images/tilted-bg-white-bottom.svg" %}">
    <div class="content ignore-height">
      {{ page.contact|richtext }}
    </div>
    <img class="triangle flip-y justify-bottom" src="{% static "images/tilted-bg-white-top.svg" %}">
  </section>
  <section class="club-personnel">
    <img class="triangle flip-y justify-bottom" src="{% static "images/tilted-bg-white-bottom.svg" %}">
    <div class="content ignore-height">
      {{ page.personnel|richtext }}
    </div>
    <img class="triangle flip-y" src="{% static "images/tilted-bg-grey-top.svg" %}">
  </section>

{% endblock %}
