{% extends "base_layout.html" %}
{% load wagtailcore_tags %}
{% load staticfiles %}
{% load wagtailimages_tags %}

{% block body_css_class %}events_page{% endblock %}

{% block title %} {{page.title}} {% endblock %}
{% block main %}
  <img class="triangle flip-x justify-bottom" src="{% static "images/tilted-bg-black-bottom.svg" %}">

  <section class="events-body event ">
    <div class="events-body-container ignore-height">
      {{ page.body|richtext }}
    </div>
  </section>

  <section class="events">
    <img class="triangle justify-bottom" src="{% static "images/tilted-bg-white-top.svg" %}">
    <div class="event-container">
      {% for event in page.events %}
        <div class="event">
          <h2 id="{{ event.id }}">
            {{ event.name }}
          </h2>
          <p>
            {{ event.start_time }} - {{ event.end_time }}
          </p>
          <p>
            {{ event.street_address }}, {{ event.city }}
          </p>
          <p>
            {{ event.ingress|default:'' }}
          </p>
          <p>
            <a href="{% url 'event' event.slug %}" class="button">Lue lisää tapahtumasta</a>
          </p>
        </div>
      {% endfor %}
    </div>
  </section>

  <img class="triangle black-bg" src="{% static "images/tilted-line-almost-black.svg" %}">

{% endblock %}
{% block footer %}
  {% include "footer.html" with sponsor_items=page.front_page_sponsors %}
{% endblock %}