{% extends "base_layout.html" %}
{% load wagtailcore_tags %}
{% load staticfiles %}
{% load wagtailimages_tags %}


{% block title %}westend indians{% endblock %}
{% block slogan %}Once a member - always part of the tribe{% endblock %}
{% block main %}
  <img class="triangle" src="{% static "images/tilted-bg-black-top-right.svg" %}">
  {% if page.pinnalla or page.pinnalla2 or page.pinnalla3%}
    <section class="lift raise-up" style="background-color:{{ page.lift_bgcolor }};">
      <div class="lift-container">
        <div class="lift-img">
          {% image page.pinnalla width-1280 %}
        </div>
        <div class="lift-img">
          {% image page.pinnalla2 width-1280 %}
        </div>
        <div class="lift-img">
          {% image page.pinnalla3 width-1280 %}
        </div>
      </div>
      <img class="triangle justify-top" src="{% static "images/tilted-bg-white-bottom.svg" %}">
    </section>
  {% endif %}
  <section class="team">
    <div class="team-container"}>
      <img class="team-img" src="http://i68.tinypic.com/2rwx8x5.png">
      <div class="content team">
        <h1>{{ page.team_title}}</h1>
        <p class="description">{{ page.team_description }}</p>
        <a class="cta-link" href="{% slugurl 'miehet-edustus'%}">{{page.team_cta}} <span>»</span></a>
        <ul class="info-links">
          <a href="/joukkueet/miehet-edustus">pelaajat</a>
          <a href="{% slugurl 'miehet-edustus'%}#schedule">otteluohjelma</a>
          <a href="{% slugurl 'miehet-edustus'%}#statistics">sarjataulukko</a>
        </ul>
      </div>
    </div>
    <img class="triangle" src="{% static 'images/tilted-bg-white-bottom.svg' %}">
  </section>
  <section class="tribe">
    <div class="tribe-container">
      <img class="tribe-img" src="http://i64.tinypic.com/2ewnus8.jpg">
      <div class="content tribe">
        <h1>{{ page.tribe_title }}</h1>
        <p class="description">{{ page.tribe_description }}</p>
        <a class="cta-link" href="{% slugurl 'heimo' %}">{{ page.tribe_cta }} <span>»</span></a>
        <ul class="info-links">
          <a href="http://indians.fi/ilmoittautuminen">liity mukaan</a>
          <a href="{% slugurl 'uutiset' %}">uutiset</a>
          <a href="{% slugurl 'liity-heimoon' %}">seurat</a>
        </ul>
      </div>
    </div>
  </section>
  <img class="triangle flip-x justify-top" src="{% static "images/tilted-bg-black-top.svg" %}">
  <section class="shop">
    <div class="shop-container">
      <div class="shop-products">
        {% for product in page.front_page_product_images %}
          <div>
            <a href="#"><img src={{ product.image.url}}></a>
            <div class="shop-item-description">
              <p>{{ product.product.name }}</p>
              <p id="product-price"}>{{ product.product.price }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
        <div class="content shop">
        <h1>{{ page.shop_title}}</h1>
        <p class="cta-text">{{ page.shop_description }}</p>
        <a class="cta-link" href="{% slugurl 'shop' %}">{{ page.shop_cta }}<span>»</span></a>
      </div>
    </div>
  </section>
{% endblock %}

{% block footer %}
  {% include "footer.html" with sponsor_items=page.front_page_sponsors %}
{% endblock %}

