{% extends "base_layout.html" %}
{% load wagtailcore_tags %}
{% load staticfiles %}
{% load wagtailimages_tags %}


{% block title %}westend indians{% endblock %}
{% block slogan %}Once a member - always part of the tribe{% endblock %}
{% block main %}
  {% if page.pinnalla or page.pinnalla2 or page.pinnalla3%}
    <section class="lift" style="background-color:{{ page.lift_bgcolor }};">
      <img class="triangle justify-bottom" src="{% static "images/tilted-bg-white-top.svg" %}">
      <div class="lift-container">
        <div class="lift-img">
          {% image page.pinnalla width-1280 %}
        </div>
        <div class="lift-img">
          {% image page.pinnalla2 width-1280 %}
        </div>
        <div class="lift-img">
          {% image page.pinnalla3 width-1280 %}
        </div>
      </div>
      <img class="triangle justify-top" src="{% static "images/tilted-bg-white-bottom.svg" %}">
    </section>
  {% endif %}
  <section class="team">
    <div class="team-container"}>
      <img class="team-img" src="http://i68.tinypic.com/2rwx8x5.png">
      <div class="content team">
        <h1>{{ page.team_title}}</h1>
        <p class="description">{{ page.team_description }}</p>
        <a class="cta-link" href="{% slugurl 'miehet-edustus'%}">{{page.team_cta}} <span>»</span></a>
        <ul class="info-links">
          <a href="/joukkueet/miehet-edustus">pelaajat</a>
          <a href="{% slugurl 'miehet-edustus'%}#schedule">otteluohjelma</a>
          <a href="{% slugurl 'miehet-edustus'%}#statistics">sarjataulukko</a>
        </ul>
      </div>
    </div>
    <img class="triangle" src="{% static 'images/tilted-bg-white-bottom.svg' %}">
  </section>
  <section class="tribe">
    <div class="tribe-container">
      <img class="tribe-img" src="http://i64.tinypic.com/2ewnus8.jpg">
      <div class="content tribe">
        <h1>{{ page.tribe_title }}</h1>
        <p class="description">{{ page.tribe_description }}</p>
        <a class="cta-link" href="{% slugurl 'heimo' %}">{{ page.tribe_cta }} <span>»</span></a>
        <ul class="info-links">
          <a href="http://indians.fi/ilmoittautuminen">liity mukaan</a>
          <a href="{% slugurl 'news' %}">uutiset</a>
          <a href="{% slugurl 'teams' %}">seurat</a>
        </ul>
      </div>
    </div>
  </section>
  <img class="triangle flip-x justify-top" src="{% static "images/tilted-bg-black-top.svg" %}">
  <section class="shop">
    <div class="shop-container">
      <div class="shop-products">
        {% for product in page.front_page_product_images %}
          <div>
            <a href="#"><img src={{ product.image.url}}></a>
            <div class="shop-item-description">
              <p>{{ product.product.name }}</p>
              <p id="product-price"}>{{ product.product.price }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
        <div class="content shop">
        <h1>{{ page.shop_title}}</h1>
        <p class="cta-text">{{ page.shop_description }}</p>
        <a class="cta-link" href="{% slugurl 'shop' %}">{{ page.shop_cta }}<span>»</span></a>
      </div>
    </div>
  </section>
  <img class="triangle flip-x justify-bottom" src="{% static "images/tilted-bg-black-bottom.svg" %}">
<!--
  {% if page.upcoming_homegame.opponent %}
    <section class="games">
      <div class="games-container full-black ignore-height">
        <div class="row">
          <div class="home">
            <img src="{% static "images/indians_logo_345x345.jpg" %}">
          </div>
          <div class="games-date">
            <h1>seuraava edustusjoukkueen kotiottelu</h1>
            <p>Vastassa: <span>{{ page.upcoming_homegame.opponent }}</span></p>
            <p>{{ page.upcoming_homegame.date|date:"d.n.Y" }}  kello {{ page.upcoming_homegame.date.time }}</p>
            <a href="{% slugurl 'info' %}" class="games-cta">tule katsomaan</a>
          </div>
          <div class="away">
            <img src="{% static "images/indians_logo_345x345.jpg" %}">
          </div>
        </div>
      </div>
    </section>
  {% endif %}
<section class="news">
<img class="triangle flip-y  justify-bottom" src="{% static "images/tilted-bg-black-bottom.svg" %}">
<div class="news-container  add-space">
<div class="row-head">
  <h1>uutiset</h1>
  <a href="{% slugurl 'news' %}">katso kaikki uutiset <span>»</span></a>
</div>
<div class="row-news">
  {% for newsitem in page.front_page_news %}
    {% if newsitem %}
      <div class="news-item">
        <a href="{% slugurl 'news' %}">
          <div class="news-image">
            <img src="http://i64.tinypic.com/4sxy79.png">
          </div>
        </a>
        <div class="item-text-container">
          <a href="{% slugurl 'news' %}"><h2 class="news-item-header">{{ newsitem.title }}</h2></a>
          <p class="news-item-text">
            {{ newsitem.ingress }}
          </p>
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>
</div>
</section>
<section class="events">
<div class="events-container add-space">
<div class="row-head">
  <h1>tapahtumat</h1>
  <a href="{% slugurl 'tapahtumat' %}">katso kaikki tapahtumat <span>»</span></a>
</div>
<div class="row-events">
  {% for event in page.front_page_events %}
    {% if event %}
      <div class="event-item">
        <a href="#">
          <div class="event-image">
            <img src="http://i64.tinypic.com/4sxy79.png">
          </div>
        </a>
        <div class="item-text-container">
          <a href="{% slugurl 'tapahtumat' %}"><h2 class="events-item-header">{{event.name}}</h2></a>
          <div class="event-item-date">
            <p style="margin-bottom: 5px;">{{event.start_time}}</p>
            <p id="event-middle"> - </p>
            <p style="margin-top: 5px;">{{event.end_time}}</p>
          </div>
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>
</div>
</section>
-->
{% endblock %}
{% block sponsors %}
<div class="top-level row">
  {% for sponsor in page.all_sponsors %}
  {% if sponsor.level == 'top' %}
  <div>
    <a href="{{ sponsor.url }}"><img src="{{ sponsor.sponsor_thumbnail.url }}"></a>
  </div>
  {% endif %}
  {% endfor %}
</div>
<h2>yhteistyössä</h2>
<div class="second-level row">
  {% for sponsor in page.all_sponsors %}
  {% if sponsor.level == 'second' %}
  <div>
    <a href="{{ sponsor.url }}"><img src="{{ sponsor.image.url }}"></a>
  </div>
  {% endif %}
  {% endfor %}
</div>
<h2>kentällä mukana</h2>
<div class="third-level row">
  {% for sponsor in page.all_sponsors %}
  {% if sponsor.level == 'third' %}
  <div>
    <a href="{{ sponsor.url }}"><img src="{{ sponsor.sponsor_thumbnail.url }}"></a>
  </div>
  {% endif %}
  {% endfor %}
</div>
{% endblock %}

