{% extends "base_layout.html" %}
{% load wagtailcore_tags %}

{% block main %}

<!--
<h1>
    {{page.title}}
</h1>

<p><h1>{{page.description}}</h1></p>
-->
<div class="home-container">
    <section class="team">
        <img class="team-img" src="http://i68.tinypic.com/2rwx8x5.png">
        <div class="team-cta">
            <h2 class="team-cta-title">miesten edustusjoukkue</h2>
            <p class="team-cta-text">Edustusjoukkue on 30 omistautuneen  karpaasin erikoisryhmä, joka taistelee Salibandyn herruudesta Suomen  mestaruustasolla</p>
            <a class="team-cta-link" href="#">lue lisää edustusjoukkueesta >></a>
            <ul class="team-links">
                <a href="#">pelaajat</a>
                <a href="#">otteluohjelma</a>
                <a href="#">sarjataulukko</a>
            </ul>
        </div>
    </section>
    <section class="tribe">
        <p>asdasd</p>
    </section>
</div>
{% endblock %}

