{% extends "base_layout.html" %}

{% load wagtailcore_tags %}
{% load staticfiles %}
{% load wagtailimages_tags %}
{% load submenu %}

{% block body_css_class %}info_page{% endblock %}

{% block title %}
  {% if page.depth == 4 %}
    {{ page.get_parent.title }} /
    {{ page.title }}
  {% else %}
    {{ page.title }}
  {% endif %}
{% endblock %}

{% block main %}
  <img class="triangle justify-bottom" src="{% static "images/tilted-bg-black-top.svg" %}">

  <section class="team-info">
    {% submenu page %}

    <div class="team-info-container">
      <div class="team-info-content">

        {% if page.body|striptags|length > 0 %}
          <a id="body"></a>
          <div class="info-body">
            {{ page.body|richtext }}
          </div>
        {% endif %}

        {% if page.tickets|striptags|length > 0 %}
          <a id="tickets"></a>
          <div class="info-lift">
            {{ page.tickets|richtext }}
          </div>
        {% endif %}

        {% if page.information|striptags|length > 0 %}
          <a id="information"></a>
          <div class="info-information">
            {{ page.information|richtext }}
          </div>
        {% endif %}

        {% if page.contact|striptags|length > 0 %}
          <a id="contact"></a>
          <div class="info-contact">
            {{ page.contact|richtext }}
          </div>
        {% endif %}
      </div>
    </div>
  </section>

  <img class="triangle" src="{% static "images/tilted-bg-black-bottom.svg" %}">
{% endblock %}

{% block footer %}
  {% include "footer.html" with sponsor_items=page.front_page_sponsors %}
{% endblock %}