{% extends "base_layout.html" %}

{% load wagtailcore_tags %}
{% load staticfiles %}
{% load wagtailimages_tags %}
{% load submenu %}
{% load csv_to_tables %}

{% block body_css_class %}info_page{% endblock %}

{% block title %}
  {% if page.depth == 4 %}
    {{ page.get_parent.title }} /
    {{ page.title }}
  {% else %}
    {{ page.title }}
  {% endif %}
{% endblock %}

{% block main %}

  <img class="triangle justify-bottom" src="{% static "images/tilted-bg-black-top.svg" %}">
  <section class="team-info">
    {% submenu page %}
  </section>

  {% if page.body|striptags|length > 0 %}
    <section class="black">
      <img class="triangle justify-bottom" src="{% static "images/tilted-bg-white-top.svg" %}">
      <a id="body"></a>
      <div class="info-body">
        {{ page.body|richtext }}
      </div>
    </section>
    <img class="triangle justify-bottom" src="{% static "images/tilted-bg-black-top.svg" %}">
  {% endif %}
	{% if page.get_parent.slug == 'miehet-edustus' %}
    <section class="homegames">
			<a id="info-lift"></a>
      <div class="info-lift">
      	<div>
					<h2>Kotiottelut</h2>
					<table class="games" style="width: 100%;">
						<tr>
							<th>Ajankohta</th>
							<th>Vastassa</th>
							<th>Pelipaikka</th>
						</tr>
					 {% for e in page.upcoming_home_games %}
					 	<tr>
             	<td>{{ e.date|date:"d.m.Y G.i" }}</td>
             	<td>{{ e.away_team.name }}</td>
							<td>{{ e.location }}</td>
             </tr>
					 {% endfor %}
					</table>
				</div>
      </div>
    </section>
  {% endif %}

	{% if page.tickets|striptags|length > 0 %}
		<section>
			<a id="tickets"></a>
			<div class="info-lift">
				{{ page.tickets|richtext }}
			</div>
		</section>

{#    <div id="floud-plugin"></div>#}
  {% endif %}

  {% if page.information|striptags|length > 0 %}
    <section class="black">
      <img class="triangle justify-bottom" src="{% static "images/tilted-bg-white-top.svg" %}">
      <a id="information"></a>
      <div class="info-information">
        {{ page.information|richtext }}
      </div>
    </section>
  {% endif %}

  {% if page.contact|striptags|length > 0 %}
    <section>
      <img class="triangle justify-bottom" src="{% static "images/tilted-bg-black-top.svg" %}">
      <a id="contact"></a>
      <div class="info-contact">
        {{ page.contact|richtext }}
      </div>
      <img class="triangle justify-top" src="{% static "images/tilted-bg-black-bottom.svg" %}">
    </section>
  {% endif %}

  <section class="tables">
    {% if page.tables|striptags|length > 0 %}
      <img class="triangle justify-bottom" src="{% static "images/tilted-bg-white-top.svg" %}">
      <a id="tables"></a>
      <div class="text-box-container">
        <div class="content">
          {{ page.tables|csv_to_tables }}
        </div>
      </div>
      <img class="triangle justify-top" src="{% static "images/tilted-bg-black-bottom.svg" %}">
    {% endif %}
  </section>

{% endblock %}

{% block footer %}

  {% if page.get_parent.title == 'Heimo' %}
    {% include "footer.html" with sponsor_items=page.tribe_sponsors %}
  {% elif page.get_parent.title == 'Miehet edustus' %}
    {% include "footer.html" with sponsor_items=page.team_sponsors %}
  {% else %}
    {% if page.get_parent.title == '1992' %}
      {% include "footer.html" with sponsor_items=page.front_page_sponsors even=True %}
    {% else %}
      {% include "footer.html" with sponsor_items=page.front_page_sponsors %}
    {% endif %}
  {% endif %}

{% endblock %}