{% extends "base_layout.html" %}

{% load wagtailcore_tags %}
{% load staticfiles %}
{% load wagtailimages_tags %}

{% block body_css_class %}news_page{% endblock %}

{% block title %} {{page.title}} {% endblock %}

{% block main %}
  <section class="news-description" id="news"}>
    <div class="news-body-container ignore-height">
      <p>{{ page.description }}</p>
    </div>
  </section>
  <section class="news-items">
    <img class="triangle justify-bottom" src="{% static "images/tilted-bg-white-top.svg" %}">
    <div class="news-item-container">
      {% for news_item in page.news %}
        <div class="news-item">
          <p class="publication-date">
            {{ news_item.publication_date|date:"D d.m.o, klo H:i" }}
          </p>
          <h1 id="{{ news_item.id }}">
            {{ news_item.title }}
          </h1>
          <p class="lead-paragraph">
            {{ news_item.ingress }}
          </p>
          {{ news_item.body|safe }}
        </div>
      {% endfor %}
    </div>
  </section>
{% endblock %}

{% block footer %}
  {% if page.get_parent.title == 'Heimo' %}
    {% include "footer.html" with sponsor_items=page.tribe_sponsors %}
  {% elif page.get_parent.title == 'Miehet edustus' %}
    {% include "footer.html" with sponsor_items=page.team_sponsors %}
  {% else %}
    {% include "footer.html" with sponsor_items=page.front_page_sponsors %}
  {% endif %}
{% endblock %}