{% extends "base_layout.html" %}
{% load wagtailcore_tags %}
{% load staticfiles %}
{% load wagtailimages_tags %}

{% block title %} {{page.title}} {% endblock %}
{% block main %}
  <section class="news-description">
    <div class="news-body-container ignore-height">
      <p>{{ page.description }}</p>
    </div>
  </section>
  <section class="news-items">
    <img class="triangle justify-bottom" src="{% static "images/tilted-bg-white-top.svg" %}">
    <div class="news-item-container">
      {% for news_item in page.news %}
        <div class="news-item">
          <h1>
            {{ news_item.title }}
          </h1>
          <p id="lead-paragraph">
            {{ news_item.ingress }}
          </p>
          {{ news_item.body|safe }}
        </div>
      {% endfor %}
    </div>
  </section>
  <img class="triangle flip-x justify-bottom" src="{% static "images/tilted-bg-black-bottom.svg" %}">
{% endblock %}
{% block footer %}
  {% include "footer.html" with sponsor_items=page.front_page_sponsors %}
{% endblock %}