{% extends "base_layout.html" %}
{% load wagtailcore_tags %}
{% load staticfiles %}
{% load wagtailimages_tags %}

{% block body_css_class %}representative_page{% endblock %}

{% block title %} {{page.title}} {% endblock %}
{% block main %}
  <img class="triangle flip-x justify-bottom" src="{% static "images/tilted-bg-black-bottom.svg" %}">
  <section class="team">
    <div class="team-container repr ignore-height"}>
      <div class="repr-body">
        <h1>{{ page.title}}</h1>
        {{ page.body|richtext }}
      </div>
      <ul class="info-links">
        <a href="#team-schedule">otteluohjelma</a>
        <a href="#team-news">uutiset</a>
        <a href="#team-some">some</a>
      </ul>
    </div>
  </section>
  <section class="repr-lift ">
    <div class="ignore-height repr">
      {{ page.main_lift|richtext }}
    </div>
  </section>
  {% if page.pinnalla or page.pinnalla2 or page.pinnalla3%}
  <section class="lift" style="background-color:{{ page.lift_bgcolor }};">
    <img class="triangle justify-bottom" src="{% static "images/tilted-bg-white-top.svg" %}">
    <div class="lift-container">
      <div class="lift-img">
        {% image page.pinnalla width-1280 %}
      </div>
      <div class="lift-img">
        {% image page.pinnalla2 width-1280 %}
      </div>
      <div class="lift-img">
        {% image page.pinnalla3 width-1280 %}
      </div>
    </div>
    <img class="triangle justify-top" src="{% static "images/tilted-bg-white-bottom.svg" %}">
  </section>
  {% endif %}
  {% if page.representative_team_page_matches %}
    <section class="schedule" id="team-schedule"}>
      <img class="triangle justify-bottom" src="{% static "images/tilted-bg-white-top.svg" %}">
      <div class="schedule-container repr ignore-height">
        <h1 class="schedule-head">otteluohjelma</h1>
        <div class="row-content">
          <div class="head">
            <h3>Ajankohta</h3>
            <h3>Vastassa</h3>
            <h3>Paikka</h3>
          </div>
          {% for match in page.representative_team_page_matches %}
          <div>
            <div class="cell">
                  <p>{{ match.date.date|date:"d.n.Y" }}  kello {{ match.date.time }}</p>
            </div>
            <div class="cell">
                <p>{{ match.opponent }}</p>
            </div>
            <div class="cell">
                {% if match.homegame %}
                  <p class="location">Espoon Otaniemi</p>
                {% else %}
                  <p class="location"}>{{ match.location }}</p>
                {% endif %}
            </div>
          </div>
          {% endfor %}
        </div>
        </div>
      </div>
      <img class="triangle flip-x justify-bottom" src="{% static "images/tilted-bg-black-bottom.svg" %}">
    </section>
  {% endif %}
  <section class="news" id="team-news"}>
    <div class="news-container  add-space">
      <div class="row-head">
        <h1>uutiset</h1>
        <a href="{% slugurl 'news' %}">katso kaikki uutiset <span>»</span></a>
      </div>
      <div class="row-news">
        {% for newsitem in page.representative_team_page_news %}
        {% if newsitem %}
        <div class="news-item">
          <a href="{% slugurl 'news' %}#{{ newsitem.id }}">
            <div class="news-image">
              {% if newsitem.thumbnail_image and newsitem.thumbnail_image.url %}
                <img src="{{ newsitem.thumbnail_image.url }}" alt="{{ newsitem.title }}">
              {% endif %}
            </div>
          </a>
          <div class="item-text-container">
            <a href="{% slugurl 'news' %}#{{ newsitem.id }}"><h2 class="news-item-header">{{ newsitem.title }}</h2></a>
            <p class="news-item-text">
              {{ newsitem.ingress }}
            </p>
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </section>
  <section class="some" id="team-some"}>
    <img class="triangle justify-bottom" src="{% static "images/tilted-bg-white-top.svg" %}">
    <div class="some-container">
      <h1>some</h1>
      <div class="some-row">
        <div class="team-face">
          {% include "facebook_widget.html" %}
        </div>
        <div id="instafeed" class="team-insta">
          {% include "instagram_widget.html" %}
        </div>
        <div class="team-twitter">
          {% include "twitter_widget.html" %}
        </div>
      </div>
    </div>
  </section>
{% endblock %}
{% block footer %}
  {% include "footer.html" with sponsor_items=page.team_sponsors %}
{% endblock %}
