{% extends "base_layout.html" %}
{% load wagtailcore_tags %}


{% block title %} {{page.title}} {% endblock %}
{% block main %}

  <h1>
    {{ page.title }}
  </h1>
  <div class="stat-body">
    {{ page.body|richtext }}
  </div>
  <div class="stat-matches">
    {{ page.matches|richtext }}
  </div>
  <div class="stat-status">
    {{ page.series_status|richtext }}
  </div>
  <div class="stat-points">
    {{ page.points|richtext }}
  </div>
  <div class="stat-partners">
    {{ page.partners|richtext }}
  </div>

{% endblock %}
