{% extends "base_layout.html" %}
{% load wagtailcore_tags %}

{% block body_css_class %}statistics_page{% endblock %}

{% block title %} {{page.title}} {% endblock %}

{% block main %}
  <section class="team-statistics">
    <div class="team-statistics-container">
      <div class="team-statistics-content">
        <h1>
          {{ page.title }}
        </h1>
        <div class="stat-body">
          {{ page.body|richtext }}
        </div>
        <div class="stat-matches">
          {{ page.matches|richtext }}
        </div>
        <div class="stat-status">
          {{ page.series_status|richtext }}
        </div>
        <div class="stat-points">
          {{ page.points|richtext }}
        </div>
        <div class="stat-partners">
          {{ page.partners|richtext }}
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block footer %}
{% include "footer.html" with sponsor_items=page.front_page_sponsors %}
{% endblock %}