{% extends "base_layout.html" %}
{% load wagtailcore_tags %}
{% load staticfiles %}
{% load wagtailimages_tags %}

{% block body_css_class %}stats_page{% endblock %}

{% block title %} {{ page.title }} {% endblock %}

{% block main %}
  <section class="stats">
    <div class="standings">
      <h1>Sarjatilanne</h1>
      <div class="table-container">
        <table>
          <thead>
          <tr>
            <th>Sijoitus</th>
            <th>Joukkue</th>
            <th>Voittoja</th>
            {#          <th>Voittoja jatkoajalla</th>#}
            <th>Tappioita</th>
            <th>Tappioita jatkoajalla</th>
            <th>Tehtyjä maaleja</th>
            <th>Päästettyjä maaleja</th>
            <th>Maaliero</th>
            <th>Kokonaispisteet</th>
          </tr>
          </thead>
          <tbody>
          {% for row in page.standings.rows.all %}
            <tr>
              <td>{{ row.position }}</td>
              <td>{{ row.team.name }}</td>
              <td>{{ row.wins }}</td>
              {#            <td>{{ row.wins_contd_period }}</td>#}
              <td>{{ row.losses }}</td>
              <td>{{ row.losses_contd_period }}</td>
              <td>{{ row.goals_scored }}</td>
              <td>{{ row.goals_suffered }}</td>
              <td>{{ row.goal_difference }}</td>
              <td>{{ row.points }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    <div class="upcoming-games">
      <h1>Tulevat pelit</h1>
      <div class="table-container">
        <table>
          <thead>
          <tr>
            <th>PVM</th>
            <th>Paikka</th>
            <th>Koti</th>
            <th>Vieras</th>
          </tr>
          </thead>
          <tbody>
          {% for row in page.upcoming_games %}
            <tr>
              <td>{{ row.date|date:"D d.m H.i" }}</td>
              <td>{{ row.location }}</td>
              <td>{{ row.home_team.name }}</td>
              <td>{{ row.away_team.name }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    <div class="played-games">
      <h1>Pelatut pelit</h1>
      <div class="table-container">
        <table>
          <thead>
          <tr>
            <th>PVM</th>
            <th>Paikka</th>
            <th>Koti</th>
            <th>Vieras</th>
            <th>Tulos</th>
          </tr>
          </thead>
          <tbody>
          {% for row in page.played_games %}
            <tr>
              <td>{{ row.date|date:"D d.m H.i" }}</td>
              <td>{{ row.location }}</td>
              <td>{{ row.home_team.name }}</td>
              <td>{{ row.away_team.name }}</td>
              <td>{{ row.home_score }} - {{ row.away_score }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </section>
{% endblock %}

{% block footer %}
  {% if page.get_parent.title == 'Heimo' %}
    {% include "footer.html" with sponsor_items=page.tribe_sponsors %}
  {% elif page.get_parent.title == 'Miehet edustus' %}
    {% include "footer.html" with sponsor_items=page.team_sponsors %}
  {% else %}
    {% include "footer.html" with sponsor_items=page.front_page_sponsors %}
  {% endif %}
{% endblock %}