{% extends "base_layout.html" %}
{% load staticfiles %}
{% load wagtailcore_tags %}

{% block title %} {{ page.title }} {% endblock %}
{% block main %}
  <section class="teams-description">
    <div class="container ignore-height">
      <h1>joukkueet & harrasteryhmät</h1>
      {% lorem 2 p random %}
    </div>
    <img class="triangle flip-x justify-top" src="{% static "images/tilted-bg-white-top.svg" %}">

  </section>
  <section id="teams">
  </section>
  <script type="application/javascript">
    window.onload = function() {
      if(document.getElementById("teams")!=null){
        createTeamBrowser("teams");
      }
    }
  </script>
{% endblock %}
{% block sponsors %}
  <div class="top-level row">
    {% for sponsor in page.front_page_sponsors %}
    {% if sponsor.level == 'top' %}
    <div>
      <a href="{{ sponsor.url }}"><img src="{{ sponsor.sponsor_thumbnail.url }}"></a>
    </div>
    {% endif %}
    {% endfor %}
  </div>
  <div class="second-level row">
    {% for sponsor in page.front_page_sponsors %}
    {% if sponsor.level == 'second' %}
    <div>
      <a href="{{ sponsor.url }}"><img src="{{ sponsor.sponsor_thumbnail.url }}"></a>
    </div>
    {% endif %}
    {% endfor %}
  </div>
  <div class="third-level row">
    {% for sponsor in page.front_page_sponsors %}
    {% if sponsor.level == 'third' %}
    <div>
      <a href="{{ sponsor.url }}"><img src="{{ sponsor.sponsor_thumbnail.url }}"></a>
    </div>
    {% endif %}
    {% endfor %}
  </div>
{% endblock %}
