{% extends "base_layout.html" %}
{% load staticfiles %}
{% load wagtailcore_tags %}

{% block body_css_class %}teams_page{% endblock %}

{% block title %} {{ page.title }} {% endblock %}

{% block main %}
  <section class="teams-description">
    <div class="container ignore-height">
      {{ page.description|safe }}
    </div>
  </section>

  <img class="triangle justify-bottom" src="{% static "images/tilted-bg-black-top.svg" %}">

  <section id="teams">
  </section>

  <img class="triangle" src="{% static "images/tilted-bg-black-bottom.svg" %}">

  <script type="application/javascript">
    window.onload = function() {
      if(document.getElementById("teams") != null) {
        createTeamBrowser("teams")
      }
    }
  </script>
{% endblock %}

{% block footer %}
  {% if page.get_parent.title == 'Heimo' %}
    {% include "footer.html" with sponsor_items=page.tribe_sponsors %}
  {% elif page.get_parent.title == 'Miehet edustus' %}
    {% include "footer.html" with sponsor_items=page.team_sponsors %}
  {% else %}
    {% include "footer.html" with sponsor_items=page.front_page_sponsors %}
  {% endif %}
{% endblock %}
