{% extends "base_layout.html" %}
{% load wagtailcore_tags %}
{% load staticfiles %}
{% load wagtailimages_tags %}

{% block body_css_class %}tribe_page{% endblock %}

{% block title %} {{page.title}} {% endblock %}
{% block main %}
  <img class="triangle flip-x justify-bottom" src="{% static "images/tilted-bg-black-bottom.svg" %}">
  <section class="tribe">
    <div class="tribe-container">
      <img class="tribe-img" src="http://i64.tinypic.com/2ewnus8.jpg">
      <div class="content tribe">
        <h1>{{ page.title }}</h1>
        <p class="description">{{ page.body|safe }}</p>
        <ul class="info-links">
          <a href="#uutiset">Uutiset</a>
          <a id="some-cta" href="#some">Some</a>
        </ul>
      </div>
    </div>
  </section>
  {% if page.pinnalla or page.pinnalla2 or page.pinnalla3%}
    <section class="lift" style="background-color:{{ page.lift_bgcolor }};">
      <img class="triangle justify-bottom" src="{% static "images/tilted-bg-white-top.svg" %}">
      <div class="lift-container">
        <div class="lift-img">
          {% image page.pinnalla width-1280 %}
        </div>
        <div class="lift-img">
          {% image page.pinnalla2 width-1280 %}
        </div>
        <div class="lift-img">
          {% image page.pinnalla3 width-1280 %}
        </div>
      </div>
      <img class="triangle justify-top" src="{% static "images/tilted-bg-white-bottom.svg" %}">
    </section>
  {% endif %}
  <section id="lift">
    <div class="tribe-main-lift ignore-height add-space">
      {{ page.main_lift|richtext }}
    </div>
  </section>
  <section class="tribe-news" id="uutiset"}>
    <div class="news-container add-space">
      <div class="row-head">
        <h1>uutiset</h1>
        <a href="{% slugurl 'uutiset' %}" target="_blank">katso kaikki uutiset »</a>
      </div>
      <div class="row-news">
        {% for newsitem in page.tribe_page_news %}
        <div class="news-item">
          <a href="{% slugurl 'uutiset' %}#{{ newsitem.id }}" target="_blank">
            <div class="news-image">
              {% if newsitem.thumbnail_image %}
                <img src="{{ newsitem.thumbnail_image.url }}" alt="{{ newsitem.title }}">
              {% endif %}
            </div>
          </a>
          <div class="item-text-container">
            <a href="{% slugurl 'uutiset' %}#{{ newsitem.id }}" target="_blank"><h2 class="news-item-header">{{ newsitem.title }}</h2></a>
            <p class="news-item-text">
              {{ newsitem.ingress }}
            </p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <section class="some" id="some"}>
    <img class="triangle flip-x justify-bottom" src="{% static "images/tilted-bg-white-bottom.svg" %}">
    <div class="some-container">
      <img id="logo" src="{% static "images/follow-the-tribe.jpg" %}">
      <div class="some-row">
        <div class="team-face">
          {% include "icons/facebook_icon.html" %}
          {% include "some/facebook/facebook_widget_tribe.html" %}
        </div>
        <div class="instagram-wrapper">
          {% include "icons/instagram_icon.html" %}
          <div id="instafeed" class="team-insta">
            {% include "some/instagram/instagram_widget_tribe.html" %}
          </div>
        </div>
        <div class="team-twitter">
          {% include "icons/twitter_icon.html" %}
          {% include "some/twitter/twitter_widget_tribe.html" %}
        </div>
      </div>

    </div>
    <img class="triangle flip-x justify-top" src="{% static "images/tilted-bg-white-top.svg" %}">
  </section>
  {% endblock %}
{% block footer %}
  {% include "footer.html" with sponsor_items=page.tribe_sponsors %}
{% endblock %}
