{% extends "base_layout.html" %}

{% load staticfiles %}
{% load wagtailcore_tags %}

{% block body_css_class %}news_page{% endblock %}

{% block title %} {{ news_item.title }} {% endblock %}

{% block main %}
  <section class="single-news-item">
    <div>
      <div>
        <div class="image">
          <img src="{{ news_item.image_wide.url }}"/>
          {% if news_item.video_url %}
            <img class="play-button" src="{% static 'images/play.png' %}"
                 onclick="showVideoModal('{{ news_item.video_url }}');"/>
          {% endif %}
        </div>

        <p class="publication-date">
          {{ news_item.publication_date|date:"D d.m.o" }}
        </p>

        <h1 id="{{ news_item.id }}">
          {{ news_item.title }}
        </h1>

        <p class="lead-paragraph">
          {{ news_item.ingress }}
        </p>

        {{ news_item.body|safe }}
      </div>

      <div class="cta">
        <a class="button" href="{% slugurl 'uutiset' %}">Katso muut uutiset</a>
      </div>
    </div>
  </section>

  <div id="video-modal-root"></div>
{% endblock %}

{% block footer %}
  {% include "footer.html" with sponsor_items=sponsors %}
{% endblock %}