@import "concretecss/concrete";
@import "variables";

@import "components/header";
@import "components/main-grid";
@import "components/home-page";
@import "components/player-browser";
@import "components/player";
@import "components/player-modal";
@import "components/team-browser";
@import "components/team-filter";



html,
body {
  margin: 0;
  padding: 0;
  background-image: url("http://i68.tinypic.com/2duc8lz.png");


  a {
    text-decoration: none;
    display: block;
    padding: 8px;
  }

  ul {
    list-style-type: none;
  }
}

.main-grid-header {
  background-color: black;
}

.main-grid-body > h1 {
  text-align: center;
}

.blurred {
  filter: $blur;
}



