@import "variables";

@import "components/header";
@import "components/footer";
@import "components/events";
@import "components/home_page";
@import "components/player-browser";
@import "components/player";
@import "components/player-modal";
@import "components/team-browser";
@import "components/team_page";
@import "components/representative-team";
@import "components/tribe_page";
@import "components/events_page";
@import "components/info_page";
@import "components/club_page";
@import "components/news_page";
@import "components/some";


// General
html {

  background-color: black;

  body {
    margin: 0;
    padding: 0;
    background-color: white;


    h1 {
      font-family: $black-ops;
      font-weight: normal;
      font-size: 24px;
      letter-spacing:$letter-spacing-large;
      text-transform: uppercase;

      @media screen and (max-width : 480px) {
        font-size: 18px;
      }
    }

    h2 {
      font-family: $encode-sans;
      font-weight: normal;
      font-size: 20px;
      letter-spacing: $letter-spacing-large;
      text-transform: uppercase;

      @media screen and (max-width : 480px) {
        font-size: 14px;
      }
    }

    a {
      text-decoration: none;
      display: block;
      color: black;
      width: fit-content;
    }

    a, p {
      font-family: $encode-sans;
      font-size: 18px;
      letter-spacing: $letter-spacing-medium;
      line-height: 21px;

      @media screen and (max-width : 480px) {
        font-size: 12px;
      }
    }

    ul {
      list-style-type: none;
    }

    hr {
      width:100%;
      border-style: solid;
      border-color: $indians-yellow;
    }

    section {
      max-width: 100vw;
      background-repeat: repeat;
      > div {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto;
        align-items: center;
        max-width: 1280px;
        margin: 0 auto;
        min-height: 600px;

        &.full-black {
          background-color: black;
        }
        &.ignore-height {
          min-height: 0;
        }
      }

      // SVG
      .triangle {
        position: relative;
        width: 100%;
        display: block;
        overflow-x: hidden;
        transform: translateX(2px);

        &.flip-y {
          transform: scaleY(-1) translateX(-2px);
        }
        &.flip-x {
          transform: scale(-1, -1) translateX(2px);
        }
        &.justify-bottom {
          bottom:1px;
        }
        &.justify-top {
          top:1px;
        }
      }
      
      // section backgrounds
      &.team, &.tribe-news {
        background-image: url("http://i64.tinypic.com/2akq38.png");
      }

      &.shop, &.games, &.lift {
        grid-column-start: 1;
        grid-column-end: 12;
        background-color: black;
      }

      #tribe-lift {
        background-color: white;
      }

      &.footer {
        background-color: $indians-bg-grey;
      }
    }

    // Richtext properties
    .richtext-image {
      width: 100%;
    }

    .rich-text {
      ul {
        list-style: circle;
      }
      a {
        font-weight: bold;
      }

      p, ul li, ol li {
        font-family: $encode-sans;
        font-size: 18px;
        letter-spacing: £$letter-spacing-medium;
      }

      &:empty {
        display: none;
      }
    }
  }
}