@import "variables";

@import "components/header";
@import "components/footer";
@import "components/events";
@import "components/home_page";
@import "components/player-browser";
@import "components/player";
@import "components/player-modal";
@import "components/news_carousel";
@import "components/team-browser";
@import "components/team_page";
@import "components/representative-team";
@import "components/tribe_page";
@import "components/events_page";
@import "components/info_page";
@import "components/statistics_page";
@import "components/club_page";
@import "components/news_page";
@import "components/some";
@import "components/teams_page";
@import "components/team_modal";
@import "components/video_modal";
@import "submenu";


// General
html {

  background-color: black;
  //scroll-behavior: smooth;

  body {
    margin: 0;
    padding: 0;
    background-color: white;

    h1 {
      font-family: $black-ops;
      font-weight: normal;
      font-size: 24px;
      letter-spacing:$letter-spacing-large;
      text-transform: uppercase;

      @media screen and (max-width : 480px) {
        font-size: $text-larger;
      }
    }

    h2 {
      font-family: $titillium-web;
      font-weight: normal;
      font-size: 20px;
      letter-spacing: $letter-spacing-large;
      text-transform: uppercase;

      @media screen and (max-width : 480px) {
        font-size: 14px;
      }
    }
    h3 {
      font-family: $titillium-web;
      font-size: $text-larger;
    }

    a {
      text-decoration: none;
      //display: block;
      //width: fit-content;
      color: $indians-yellow;
    }

    p {
      font-family: $encode-sans;
      font-size: $text-small;
      letter-spacing: $letter-spacing-medium;
      line-height: 21px;

      @media screen and (max-width : 480px) {
        font-size: 12px;
        margin: 5px 0;
      }
    }

    ul {
      list-style-type: none;
    }

    hr {
      width:100%;
      border-style: solid;
      border-color: $indians-yellow;
      margin: 0;
    }

    section {
      max-width: 100%;
      background-repeat: repeat;
      &.black {
        background: black;
        color: white;
        h2, h3, h4, h5 {
          color: $indians-yellow;
        }
      }

      > div {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto;
        align-items: center;
        max-width: 1280px;
        margin: 0 auto;
        padding: 0 $base_padding;

        &.full-black {
          background-color: black;
        }
        &.ignore-height {
          min-height: 0;
        }
      }


      // section backgrounds

      &.shop, &.games, &.lift {
        grid-column-start: 1;
        grid-column-end: 12;
        background-color: black;
      }

      #tribe-lift {
        background-color: white;
      }

      &.footer {
        background-color: black;
      }
    }

    // SVG
    .triangle {
      position: relative;
      width: 100%;
      display: block;
      overflow-x: hidden;
      //transform: translateX(2px);
      padding: 0;
      margin: 0;

      &.flip-y {
        transform: scaleY(-1);
      }
      &.flip-x {
        transform: scale(-1, -1);
      }
      &.black-bg {
        background: black;
        padding-bottom: 40px;  // assuming only used before footer
      }
    }
    .justify-top {
      top:2px;
    }
    .justify-bottom {
      bottom:2px;
    }

    // Richtext properties
    .richtext-image {
      //width: 70%;
      //object-fit: contain;
      margin: 0 $base_padding / 2;

      &.left {
        float: left;
      }
      &.right {
        float: right;
      }
    }

    .rich-text {
      ul {
        list-style: circle;
      }
      a {
        font-weight: bold;
      }

      p, ul li, ol li {
        font-family: $encode-sans;
        font-size: $text-small;
        letter-spacing: $letter-spacing-medium;

        > * { text-align: center; }
      }

      p > img,
      img {
        max-width: 100%;
      }

      &:empty {
        display: none;
      }
    }
    // lift sections
    .lift {
      margin: 0;
      .lift-container {
        opacity:0;
        transition: $scroll-transition;
        display: flex;
        min-height: 0;
        padding: $base_padding;
        justify-content: center;

        .lift-img {
          width: 100%;
          flex: 1;
          text-align: center;
          padding: 0;

          > img {
            margin: 0 auto;
            max-width: 100%;
          }
        }
      }
    }
  }
}


button,
a.button {
  background-color: $indians-yellow;
  color: black;
  font-family: $encode-sans;
  text-align: center;
  display: inline-block;
  line-height: 17px;
  text-transform: uppercase;
  word-wrap: break-word;
  padding: 10px;
  &:hover {
    cursor: pointer;
    filter: brightness(140%);
    transition: filter 500ms;
  }
}


section.news {
  background: black;
  color: white;

  > div > div {
    grid-column-start: 1;
    grid-column-end: 13;
  }
  .all-news {
    display: block;
    margin: 20px 0;
    text-align: right;
    .button {
      display: inline-block;
    }
  }
}

/** Basic text box for full width textual content */
.text-box-container {
  padding: $base_padding * 1.5 $base_padding;
  grid-column-start: 1;
  grid-column-end: 13;
  min-height: 0;

  @media screen and  (max-width : 420px) {
    padding: $base_padding;
  }

  .content {
    grid-column-start: 2;
    grid-column-end: 11;

    h1 {
      margin: 0
    }

    .rich-text {
      > p > img {
        opacity: .4;
      }
      > p:empty {
        display: none;
      }
    }

    .info-links {
      grid-column-start: 1;
      grid-column-end: 6;
      padding: 0;

      a {
        font-family: $titillium-web;
        display: inline;
        color: black;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 16px;
        letter-spacing: $letter-spacing-medium;
      }
      a::after {
        content: " | ";
        padding: 5px;
      }
      a:last-child:after {
        content: "";
      }
    }

    @media screen and  (max-width : 880px) {
      padding-top: $base_padding;
      grid-column-start: 1;
      grid-column-end: 13;
    }
  }

}