// fonts
$titillium-web: 'Titillium Web', sans-serif;
$black-ops: 'Black Ops One', cursive;
$encode-sans: 'Encode Sans', sans-serif;

// utils
$blur: blur(3px);
$letter-spacing-x-large:4px;
$letter-spacing-large: 3px;
$letter-spacing-medium: 1px;
