// fonts
$titillium-web: 'Titillium Web', sans-serif;
$black-ops: 'Black Ops One', cursive;
$encode-sans: 'Encode Sans', sans-serif;

// utils
$blur: blur(3px);
$scroll-transition: all 1.2s ease-in-out;
$letter-spacing-x-large:4px;
$letter-spacing-large: 3px;
$letter-spacing-medium: 1px;

//colors
$indians-dark-grey: #7e7e7e;
$indians-grey: #F4F4F4;
$indians-bg-grey: #333333;
$indians-yellow: #FBEF36;
$indians-black: #000;
$indians-red: #EF3535;
$indians-almost-black: #0b0b0b;
$indians-not-so-black: #1f1f1f;


$harrastajan-polku: #ffffff;
$kilpailijan-polku: $indians-yellow;
$urheilijan-polku: #990000;

// widths
$base_padding: 40px;
$paragraph_width: 42rem;

// sizes
$text-small: 13px;
$text-mobile: 11px;


