.club_page {
  .content {
    .rich-text {
      grid-column-start: 2;
      grid-column-end: 12;
      padding: $base_padding 0;
      box-sizing: border-box;
      max-width: 100%;

      h2 {
        font-family: $black-ops;
        font-size: 24px;
        letter-spacing: $letter-spacing-large;
        text-transform: uppercase;
        background-color: black;
        color: white;
        padding: $base_padding / 2 0;
      }

      img {
        max-width: 100%
      }

      p {
        overflow: hidden;
      }

      @media screen and (max-width: 680px) {
        grid-column-start: 1;
        grid-column-end: 13;
      }
    }
  }

  .values,
  .contact {
    background-color: black;
    color: white;
  }

  .personnel {
    .content .rich-text img {
      max-width: 200px;
    }
  }
}