section.events {
  background-color:black;

  .events-container {
    padding-left: $base_padding;
    color: white;
  }

  .event {
    display: flex;
    .image {
      flex: 1;
      margin: 0 $base_padding / 2;
      img {
        max-width: 100%;
      }
    }
    .text {
      flex: 3;
    }
  }

  @media screen and (min-width : 176px) and  (max-width : 1024px) {
    display: block;

    .events-container {

    }
  }

  // events page
  .event-container {
    grid-column-start: 1;
    grid-column-end: 13;
    padding-left: $base_padding;
  }
}
