.footer-container {
  display: block;
  background-color: $indians-bg-grey;
  color: $indians-grey;
  background-image: none;
  align-items: flex-start;
  margin: 0 auto;
  padding-bottom: 100px;

  a > h1 {
    text-transform: uppercase;
    font-family: $black-ops;
    color: $indians-grey;
    font-size: 48px;
    letter-spacing: $letter-spacing-medium;
    line-height: normal;
    grid-column-start: 2;
    margin: 0;

    @media screen and (max-width : 450px) {
      font-size: 32px;
    }
  }

  h2 {
    margin: 50px 0;
    font-family: $black-ops;
    font-size: 24px;
    letter-spacing: $letter-spacing-large;
    text-transform: uppercase;
    grid-column-start: 2;

    @media screen and (max-width : 450px) {
      font-size: 18px;
    }
  }

  > div {
    margin:0 100px;

    @media screen and (max-width : 450px) {
      margin: 0 auto;
    }
  }

  .indians-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    > div {
      margin: 50px 100px 0 0;

      p {
        font-family: $encode-sans;
        margin: 0;
        padding-top: 5px;
      }

      @media screen and (min-width : 640px) and  (max-width : 1060px) {
        margin: 50px 25px 0 0;

        a > h1 {
          font-size: 42px;
        }
      }

      &.indians-social {
        margin-right: 0;
        width: 100%;
        display: flex;
        justify-content: space-around;
        a {
          color: $indians-grey;
          padding: 10px;
        }

        @media screen and (min-width : 640px) and  (max-width : 1020px) {
          display: flex;
          flex-direction: column;
          margin: 50px 50px 0 0;

          a {
            padding-bottom: 10px;
          }
        }

        @media screen and (max-width : 640px) {
          i {
            font-size: 52px;
          }
        }
      }
      &.indians-address {
        width: 100%;
        @media screen and (max-width : 450px) {
          margin: 0 auto;
        }
      }
    }



    @media screen and (min-width : 176px) and  (max-width : 680px) {
      flex-direction: column;
      justify-content: center;
      > div {
        margin: 50px auto;
      }
      > div.indians-address {
        width: auto;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      > div.indians-social {
        flex-direction: row;
        margin: 50px 0 0 0;
      }
    }

    @media screen and (min-width : 640px) and (max-width : 870px) {
      > div.indians-address {
        width: auto;
        margin-right: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }


  }

  .row {
    display: grid;
    grid-gap: 20px;
    grid-template-rows: auto;
    justify-content: center;
    flex-wrap: wrap;
  }

  .partners {
    grid-column-start: 2;
    grid-column-end: 11;
    margin-top: 20px;

    > p {
      color: $indians-dark;
      font-family: $titillium-web;
      margin:0;
      letter-spacing: $letter-spacing-medium;

      @media screen and (max-width : 450px) {
        padding: 20px;
      }
    }

    .row {
      display: flex;
      justify-content: space-evenly;
      padding-bottom: 10px;

      > div {
        width: 150px;
        height: 150px;
        padding-bottom: 20px;

        @media screen and (max-width : 640px) {
          width: 75px;
          height: 75px;
        }

        > a {
          width: 100%;
          height: 100%;

          > img {
            width: 100%;
            height: 100%;
          }
        }

      }
    }

    @media screen and (max-width : 450px) {
      text-align: center;
      margin: 0 auto;
    }
  }

  .co-op {

    .row {
      grid-template-columns: repeat(9, 1fr);

      > div {
        width: 100px;
        height: 75px;
      }
    }
  }

  .featuring {

    .row {
      grid-template-columns: repeat(11, 1fr);
      > div {
        width: 70px;
        height: 40px;
      }
    }
  }

  .img-flipped {
    width: 100%;
    transform: scaleY(-1);
  }

  hr {
    border-color: $indians-dark;
  }
}



