@import "../variables";

.main-grid-header {
  width: 100%;
  background-color: $indians-black;
  z-index: 3;
  position: relative;

  .header {
    position: relative;
    margin: 0 auto;
    text-align: center;
    font-size: 0;
    max-width: 1280px;
    background-image: none;

    .main-img {
      opacity:0;
      margin-top: 40px;
      width: 90%;

      &.active {
        opacity:1;
        transition: opacity 2.5s ease-in-out
      }
    }

    .main-header-text {
      position: absolute;
      opacity: 0;
      z-index: 5;
      left: 50%;
      text-align: center;
      color: $indians-yellow;

      &.header {
        top: 55%;
        width: 100%;
        font-family: $black-ops;
        transform: translate(-50%, -40px);
        font-size: 7vw;
        line-height: 60px;
        letter-spacing: $letter-spacing-x-large;
        text-transform: uppercase;
        text-shadow: 0 9px 1px #ffffff00;

        @media screen and (min-width : 176px) and  (max-width : 640px) {
          line-height: 45px;
          bottom: 40%;
        }

        @media screen and (min-width : 1820px) {
          font-size: 3vw;
        }

        @media screen and (min-width : 2450px) {
        }

        &.active-transform {
          opacity:1;
          transition: opacity 1.2s ease-in-out .2s, transform .4s ease-in-out .2s;
          transform: translate(-50%, 0px);
        }

        &.shadows {
          text-shadow: 0 9.0px 1.0px #ffffff55;
          transition: text-shadow 1.2s ease-in-out;
        }
      }

      &.slogan {
        top: 63%;
        width: 100%;
        font-family: $black-ops;
        transform: translate(-50%);
        font-size: 3vw;
        letter-spacing: $letter-spacing-medium;
        text-transform: capitalize;
        z-index: 1;

        @media screen and (min-width : 176px) and (max-width : 360px) {
          font-size: 10px;
          bottom: 32%;
        }

        @media screen and (min-width : 361px) and (max-width : 640px) {
          font-size: 17px;
          padding-top: 400px;
          bottom: 27%;
        }

        @media screen and (min-width : 641px) and  (max-width : 1024px) {
          font-size: 26px;
          bottom: 20%;
        }
        @media screen and (min-width : 1820px) {
          font-size: 2vw;
          bottom: 14%;
        }
        &.active-fadein {
          opacity:1;
          transition: opacity 1.2s ease-in-out .5s;
        }
      }

      &.rootslogan {
        font-family: $titillium-web;
        font-size: 24px;
      }
    }

    nav {
      position: relative;
      padding-bottom: 30px;

      .feather {
        display: block;
        position: absolute;
        left: 10px;
        top: 0;

        img {
          //width: 93px;
          height: 44px;
        }

        &.right {
          left: auto;
          right: 10px;
        }

        @media screen and (max-width : 780px) {
          display: none;
        }
      }

      ul.nav-index {
        li {
          width: 20%;
          a {
            width: 100%;
            display: inline-block;
          }
        }
        li.logo {
          height: 25px;
          width: 148px;
          overflow: visible;
          a {
            display: block;
            position: relative;
            top: -30px;
            border-bottom: none;
          }
        }
      }
    }
    ul.nav-index,
    ul.sub-nav {
      z-index: 2;
      position: relative;
      margin: 0 54px;
      height: 43px;
      padding: 0 20px;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: stretch;
      font-family: $titillium-web;
      letter-spacing: 2px;
      //background-color: black;
      background: $indians-yellow;
      border-bottom: 1px solid black;

      li.link {
        flex: 1 1 0;
        a {
          color: black;
          display: block;
          font-size: 20px;
          line-height: 43px - 3px * 2;
          //font-weight: bold;
          transition: all 200ms ease-in;
          border-top: 3px solid transparent;
          border-bottom: 3px solid transparent;

          &.current {
            border-color: $indians-red;
          }

          &:hover {
            border-color: $indians-red;
          }

          @media screen and (max-width : 1020px) {
            font-size: 1rem;
          }

          @media screen and (max-width : 900px) {
            font-size: 0.8rem;
          }
        }
      }

      @media screen and (max-width : 780px) {
        display: none;
      }
    }

    ul.sub-nav {
      margin-top: 55px;
      background: black;
      padding-bottom: 25px;
      li.link {
        a {
          color: $indians-yellow;
          width: 100%;
          display: inline-block;
        }
      }
    }
  }
}

#mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  .hamburger {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 38px;
    height: 38px;
    img {
      max-width: 100%;
    }
  }

  ul {
    list-style: none;
    padding: 0;
  }

  > ul {
    position: absolute;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100vh;
    box-sizing: border-box;
    background: $indians-almost-black;
    border-right: 1px solid $indians-bg-grey;
    padding: 20px 0;
    transition: left 420ms;
    box-shadow: 2px 0 8px 0px $indians-almost-black;

    > li > a {
      text-transform: uppercase;
    }

    ul {
      li a {
        padding-left: 40px;
        border-bottom: 1px dotted $indians-bg-grey;
        font-size: 1rem;
      }
    }

    li {
      padding: 0;
      margin: 0;
      a {
        font-family: $titillium-web;
        line-height: 1.5em;
        padding: 8px 20px;
        color: white;
        box-sizing: border-box;
        display: block;
        text-align: left;
        width: 100%;
        border-bottom: 1px solid $indians-bg-grey;
      }
      &.logo {
        margin-bottom: 30px;
        a {
          height: 100px;
          text-align: center;
          border-bottom: none;
        }
        img {
          margin: 0 auto;
          max-width: 100%;
          max-height: 100%;
        }
      }
      &.close {
        position: absolute;
        width: 40px;
        right: 0;
        top: 0;
        line-height: 40px;
        color: $indians-grey;
        font-size: 30px;
        cursor: pointer;
        &:hover {
          color: white;
        }
      }
    }
  }

  &.open {
    .hamburger {
      display: none;
    }
    > ul {
      left: 0px;
    }
  }

  @media screen and (min-width: 781px) {
    display: none;
  }
}
