@import "../variables";

.main-grid-header {
  width: 100%;
  background-color: $indians-black;
  z-index: 3;
  position: relative;

  .header {
    position: relative;
    margin: 0 auto;
    text-align: center;
    font-size: 0;
    max-width: 1280px;
    background-image: none;

    .main-img {
      opacity:0;
      margin-top: 40px;
      width: 80%;

      &.active {
        opacity:1;
        transition: opacity 2.5s ease-in-out
      }

      &.representative-team {
        margin-top: 10px;
      }

    }

    .title {
      position: absolute;
      z-index: 5;
      text-align: center;
      margin: 0;
      padding: 0;
      left: 0;
      top: 40vw;
      width: 100%;
      display: block;
      min-height: auto;

      h1,
      .slogan {
        opacity: 0;
        margin: 0;
        font-family: $black-ops;
        color: $indians-yellow;
      }

      h1 {
        padding: 0;
        font-size: 7vw;
        line-height: 1em;
        letter-spacing: $letter-spacing-x-large;
        text-transform: uppercase;
        text-shadow: 0 9px 1px #ffffff00;

        &.active-transform {
          opacity: 1;
          transition: opacity 1.2s ease-in-out .2s, transform .4s ease-in-out .2s;
          transform: translate(0, 0);
        }

        &.shadows {
          text-shadow: 0 9.0px 1.0px #ffffff55;
          transition: text-shadow 1.2s ease-in-out;
        }
      }

      .slogan {
        //font-family: $black-ops;
        color: $indians-yellow;
        letter-spacing: $letter-spacing-medium;
        font-family: $titillium-web;
        font-size: 2.3vw;
        padding-top: 5px;

        &.active-fadein {
          opacity:1;
          transition: opacity 1.2s ease-in-out .5s;
        }
      }
      @media screen and (max-width : 420px) {
        top: 56vw;
      }

      @media screen and (min-width : 781px) {
        top: 36vw;
        .slogan {
          padding-top: 20px;
          padding-bottom: 20px;
        }
      }
      @media screen and (min-width : 1281px) {
        top: 470px;
        h1 {
          font-size: 86px;
        }
        .slogan {
          font-size: 28px;
        }
        .slogan {
          padding-top: 20px;
          padding-bottom: 20px;
        }
      }


    }

    nav {
      position: relative;
      padding: 30px;

      .feather {
        display: block;
        position: absolute;
        left: 10px;
        top: 0;

        img {
          //width: 93px;
          height: 44px;
        }

        &.right {
          left: auto;
          right: 10px;
        }

        @media screen and (max-width : 780px) {
          display: none;
        }
      }

      ul.nav-index {
        li {
          width: 20%;
          a {
            font-family: $black-ops;
            width: 100%;
            display: inline-block;
            color: $indians-yellow!important;
          }
        }
        li.logo {
          height: 25px;
          width: 85px;
          overflow: visible;
          a {
            display: block;
            position: relative;
            top: -52px;
            left: -60px;
            border-bottom: none;
          }
        }
      }
    }
    ul.nav-index,
    ul.sub-nav {
      z-index: 2;
      position: relative;
      margin: 0 54px;
      height: 43px;
      padding: 0 20px;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: stretch;
      font-family: $titillium-web;
      letter-spacing: 2px;
      //background-color: black;
      background: black;
      border-bottom: 1px solid black;

      li.link {
        flex: 1 1 0;
        a {
          color: black;
          display: block;
          font-size: 20px;
          line-height: 43px - 3px * 2;
          //font-weight: bold;
          transition: all 200ms ease-in;
          border-top: 3px solid transparent;
          border-bottom: 3px solid transparent;

          &.current {
            border-color: $indians-red;
          }

          &:hover {
            border-color: $indians-red;
          }

          @media screen and (max-width : 1020px) {
            font-size: 1rem;
          }

          @media screen and (max-width : 900px) {
            font-size: 0.8rem;
          }
        }
      }

      @media screen and (max-width : 780px) {
        display: none;
      }
    }

    ul.sub-nav {
      margin-top: 5px;
      background: none;
      padding-bottom: 25px;
      li.link {
        a {
          color: $indians-yellow;
          width: 100%;
          display: inline-block;
          border-top: none;
          &.current {
            border-top: none;
          }
        }
      }
    }
  }
}

#mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  .hamburger {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 38px;
    height: 38px;
    background: black;
    img {
      max-width: 100%;
    }
    @media screen and (max-width: 480px) {
      top: 10px;
      left: 10px;
    }
  }

  ul {
    list-style: none;
    padding: 0;
  }

  > ul {
    position: absolute;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100vh;
    box-sizing: border-box;
    background: $indians-almost-black;
    border-right: 1px solid $indians-bg-grey;
    padding: 20px 0;
    transition: left 420ms;
    box-shadow: 2px 0 8px 0px $indians-almost-black;

    > li > a {
      text-transform: uppercase;
      font-size: $text-small;
    }

    ul {
      li a {
        padding-left: 40px;
        border-bottom: 1px dotted $indians-bg-grey;
        font-size: 1rem;
      }
    }

    li {
      padding: 0;
      margin: 0;
      a {
        font-family: $titillium-web;
        line-height: 1.5em;
        padding: 8px 20px;
        color: white;
        box-sizing: border-box;
        display: block;
        text-align: left;
        width: 100%;
        border-bottom: 1px solid $indians-bg-grey;
      }
      &.logo {
        margin-bottom: 30px;
        a {
          height: 100px;
          text-align: center;
          border-bottom: none;
        }
        img {
          margin: 0 auto;
          max-width: 100%;
          max-height: 100%;
        }
      }
      &.close {
        position: absolute;
        width: 40px;
        right: 0;
        top: 0;
        line-height: 40px;
        color: $indians-grey;
        font-size: 30px;
        cursor: pointer;
        &:hover {
          color: white;
        }
      }
    }
  }

  &.open {
    .hamburger {
      display: none;
    }
    > ul {
      left: 0px;
    }
  }

  @media screen and (min-width: 781px) {
    display: none;
  }
}

#menu-1992 {
  position: absolute;
  top: 40px;
  right: 0;
  display: block;

  #menu-button-1992 {
    color: $indians-yellow;
    font-family: $black-ops;
    font-size: $text-small;
    padding: 8px 18px;
    cursor: pointer;
    border-radius: 3px;
    display: inline-block;
  }

  #english {
    width: 40px;
    height: 27px;
    background: url('/static/images/england.png') no-repeat center center;
    background-size: contain;
    cursor: pointer;
    float: right;
    display: inline-block;
    margin-left: 12px;
  }

  #menu-button-1992, #english {
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
  }

  ul {
    display: none;
    position: absolute;
    top: 40px;
    right: 10px;
    font-size: $text-small;
    font-family: $titillium-web;
    text-align: right;
    line-height: 2em;
    background: rgba(0, 0, 0, 0.75);
    text-transform: uppercase;
    padding: 10px 30px;
    border-radius: 3px;
  }
  &.open {
    ul {
      display: block;
    }
  }

  @media screen and (max-width : 1020px) {
    #english {
      height: 32px;
    }
    #menu-button-1992,
    ul {
      font-size: 1rem;
    }
  }

  @media screen and (max-width : 900px) {
    #english {
      height: 28px;
    }
    #menu-button-1992,
    ul {
      font-size: 0.8rem;
    }
  }

  @media screen and (max-width: 780px) {
    display: none;
  }
}
