section {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  align-items: center;
  max-width: 1280px;
  background-image: url("http://i68.tinypic.com/2duc8lz.png");
  margin: 100px auto 100px auto;
  width: 100vw;
  min-height: 600px;

  h1 {
    font-family: $black-ops;
    font-size: 24px;
    letter-spacing:$letter-spacing-large;
    text-transform: uppercase;
  }

  .content {

    > .description {
      font-family: $encode-sans;
      font-size: 18px;
      margin: 30px 0 30px 0;
    }

    .cta-link {
      font-family: $titillium-web;
      color: black;
      letter-spacing: $letter-spacing-large;
      text-transform: uppercase;
      font-size: 14px;
      margin: 30px 0 30px 0;
      font-weight: bold;
    }

    .info-links {
      padding: 0;

      a {
        font-family: $titillium-web;
        display: inline;
        color: black;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 14px;
        letter-spacing: $letter-spacing-medium;
      }
      a::after {
        content: " | ";
        padding: 5px;
      }
    }



    &.team {
      grid-column-start: 7;
      grid-column-end: 11;
    }

    &.tribe {
      grid-column-start: 3;
      grid-column-end: 8;
    }

    &.shop {
      grid-column-start: 8;
      grid-column-end: 12;
      > h1, p, a {
        color: white;
      }
    }
  }

  .shop-products {
    grid-column: 1 / span 7;
    margin: 50px;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: 220px 220px;
    grid-template-rows: 180px 180px;

    > div {
      background-color: white;
      display: flex;
      margin-left: 0;
      margin-right: 0;
      overflow: hidden;

      > a {
        margin: 0 auto;
        > img {
          max-width: 100%;
          max-height: 100%;

          &:hover {
            transform: scale(1.2);
            transition: all .3s ease-in-out;
            cursor: pointer;
          }
        }
      }
    }
  }


  .team-img {
    position: absolute;
    display: block;
    transform: translateX(-40% );
    opacity: .4;
  }



  .tribe-img {
    position: absolute;
    display: block;
    right:0;
    height: 600px;
    max-width: 600px;
    opacity: .4;
  }

  &.lift {
    display: flex;
    justify-content:center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;

  }

  &.shop {
    margin-top: 0;
    background-color: black;
    background-image: none;
  }
}

