.team-container, .tribe-container, .lift-container, .shop-container, .games-container, .news-container {

  .content {

    > .description {
      font-family: $encode-sans;
      font-size: 18px;
      margin: 30px 0 30px 0;
    }

    .cta-link {
      font-family: $titillium-web;
      color: black;
      letter-spacing: $letter-spacing-large;
      text-transform: uppercase;
      font-size: 14px;
      margin: 30px 0 30px 0;
      font-weight: bold;
    }

    .info-links {
      padding: 0;

      a {
        font-family: $titillium-web;
        display: inline;
        color: black;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 14px;
        letter-spacing: $letter-spacing-medium;
      }
      a::after {
        content: " | ";
        padding: 5px;
      }
      a:last-child:after {
        content: "";
      }
    }

    &.team {
      grid-column-start: 8;
      grid-column-end: 12;
    }

    &.tribe {
      grid-column-start: 2;
      grid-column-end: 6;
    }

    &.shop {
      grid-column-start: 8;
      grid-column-end: 12;
      > h1, p, a {
        color: white;
      }
    }
  }

  .shop-products {
    grid-column: 1 / span 7;
    margin: 50px;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: 220px 220px;
    grid-template-rows: 180px 180px;

    > div {
      background-color: white;
      display: flex;
      margin-left: 0;
      margin-right: 0;
      overflow: hidden;

      > a {
        margin: 0 auto;
        > img {
          max-width: 100%;
          max-height: 100%;
        }
      }
    }
  }

  .team-img {
    position: absolute;
    display: block;
    transform: translateX(-30% );
    opacity: .4;
  }

  .tribe-img {
    position: absolute;
    display: block;
    left: 50%;
    height: 600px;
    max-width: 600px;
    opacity: .4;
  }

  .lift-img {
    grid-column-start: 1;
    grid-column-end: 13;
    margin: 0 auto;
  }

  .row {
    align-items: center;
    text-align: center;

    padding: 100px 0;
    width: 100%;
    grid-column-start: 1;
    font-weight: bold;
    grid-column-end: 13;
    color: $indians-grey;
    background-color: black;
    display: flex;
    justify-content: space-around;

    .home, .away {
      img {
        min-width: 145px;
        min-height: 145px;
      }
    }

    .games-date {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      > p {
        color: $indians-grey;
        font-size: 18px;
      }

      .games-cta {
        width: 400px;
        padding: 10px;
        align-items: center;
        background-color: #FBEF36;
        color: black;
        font-family: $encode-sans;
        font-size: 14px;
        line-height: 17px;
        text-transform: uppercase;
      }
    }
  }

  .row-head {
    grid-column-start: 2;
    grid-column-end: 13;
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
      font-size: 14px;
      color: black;
      font-family:$titillium-web;
      font-weight: bold;
      letter-spacing: $letter-spacing-medium;
      text-transform: uppercase;
    }
  }

  .row-images {
    grid-column-start: 1;
    grid-column-end: 13;
    display: flex;
    justify-content: space-between;
  }

  .row-news {
    grid-column-start: 1;
    grid-column-end: 13;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .news-item {
      width: 325px;

      > a > div.news-image {
        height: 250px;
        width: 325px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: solid black 1px;
      }
        .news-item-header {
        text-align: center;
      }
      .news-item-text {
        font-size: 14px;
      }
    }
  }

  &.shop {
    margin-top: 0;
    background-color: black;
    background-image: none;
  }
}

//Mediaquerys

@media (max-width: 640px) {

  .main-grid-body {

    > .team {
      background: none;

      .team-container {
        display: block;

        .team-img {
          opacity: .2;
        }

        .team {
          padding: 100px 30px;

          .description {
            padding-bottom: 50px;
          }
        }
      }
    }

    > .tribe {
      background: none;

      .tribe-container {
        display: block;

        .tribe-img {
          opacity: .2;
        }

        .tribe {
          padding: 100px 30px;

          .description {
            padding-bottom: 50px;
          }
        }
      }
    }

    > .shop {
      display: flex;
      .shop-container {
        display: flex;
        .shop-products {
          display: none;
        }
        .shop {
          padding: 100px 30px;

          .cta-text {
            padding-bottom: 50px;
          }
        }
      }
    }

    > .home-news {
      display: block;

      .news-container {

        .row-news {
          display: flex;
          flex-direction: column;
          .news-item {
            padding-bottom: 100px;
            width: 325px;
            > a > div.news-image {
              display: flex;
              justify-content: center;
              align-items: center;
              height: 150px;
              width: 325px;
              border: solid 1px;
            }
          }
        }

      }
    }

  }
}