@import "../variables";

.info_page {
  section {
    > div {
      @media screen and (max-width : 420px) {
        padding: 0;
      }
      > div {
        grid-column-start: 2;
        grid-column-end: 12;
        margin: auto;
        padding-bottom: 100px;
        > a {
          margin: 0;
          position: relative;
          top: -45px;
        }
        h2, h3, h4, h5 {
          width: $paragraph_width;
          margin: 2em auto;
          @media screen and (max-width : 700px) {
            width: initial;
          }
        }
        h2 {
          font-family: $black-ops;
          background-color: black;
          color: $indians-yellow;
          padding: 12px;
          margin-bottom: 50px;
        }
        p, ul li {
          text-transform: none!important;
          margin: auto;
          font-size: $text-small;
          line-height: 21px;
          width: $paragraph_width;
          @media screen and (max-width : 700px) {
            width: initial;
          }
          @media screen and (max-width : 420px) {
            font-size: $text-mobile;
          }
        }
        .rich-text {
          .richtext-image {
          }
        }
      }
    }
    &.black {
      h2 {
        padding: 12px 0;
      }
    }
    &.tables {
      h2,
      p {
        margin-left: 0;
        margin-right: 0;
        width: auto;
      }
      p {
        margin: $base_padding / 2 0;
      }
    }
  }
  section.team-info {
    padding: $base_padding 0;
  }

  .text-box-container {
    .content {
      //max-width: 100%;
      > div {
        overflow: auto;
      }
    }
  }
  table {
    //width: 100%;
    max-width: 100%;
    overflow: auto;
    th {
      font-weight: bold;
    }
    td, th {
      padding: 4px 8px;
    }
    tr {
      background: white;
      &:nth-child(odd) {
        background: $indians-light-grey;
      }
    }
  }

  #floud-plugin {
    margin: 0 auto;
  }
}