.main-grid-header {
  text-align: center;
  font-size: 0;

  .main-header-text {
    position: absolute;
    z-index: 9999;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #FBEF36;

    &.header {
      top: 75%;
      font-family: $black-ops;
      font-size: 48px;
      line-height: 60px;
      letter-spacing: 2px;
    }

    &.slogan {
      top: 85%;

      font-family: $titillium-web;
      font-size: 24px;
      letter-spacing: 1px;
    }
  }

  .nav-index {

    > ul {
      position: relative;
      padding: 10px;
      margin: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-around ;
      font-family: $titillium-web;
      letter-spacing: 1px;
      background-color: black;

      > li a {
        color: white;
        display: block;
        font-size: 20px;
      }

      > li img {
        position:relative;
        top:0;
        bottom:0;
        left:5%;
        margin:auto;
      }
    }
  }
}