.news_page {

  h1,
  .pages,
  .news-item {
    grid-column-start: 1;
    grid-column-end: 12;
    @media screen and (max-width: 480px) {
      grid-column-start: 1;
      grid-column-end: 13;
    }
  }

  #news-carousel {
    grid-column-start: 1;
    grid-column-end: 12;
    @media screen and (max-width: 480px) {
      grid-column-start: 1;
      grid-column-end: 13;
    }
  }

  .news-carousel {
    margin-bottom: 60px;
  }

  img {
    max-width: 100%;
  }

  .pages {
    text-align: center;
    > span,
    > a {
      margin: 10px;
    }
    > a {
      border: 1px solid $indians-yellow;
    }
  }

  section.news-description {
    .news-body-container {
      margin: 50px auto;
      > p {
        font-family: "Encode Sans", sans-serif;
        font-size: 14px;
        letter-spacing: 1px;
        grid-column-start: 2;
        grid-column-end: 12;
      }
    }
  }

  section.news-items {
    background-color: black;
    padding-top: 60px;

    div.news-item-container {
      color: white;
      align-items: flex-start;

      > .news-item {
        margin-bottom: 100px;
        font-family: "Encode Sans", sans-serif;
        letter-spacing: 1px;

        > img {
          margin-bottom: 4em;
        }

        > a {
          margin: 0;
          position: relative;
          top: -45px;
        }
        h1, h2, h3 {
          width: $paragraph_width;
          @media screen and (max-width : 700px) {
            width: initial;
          }
        }
        h2 {
          margin: $base_padding / 2 0;
          font-family: $black-ops;
          background-color: black;
          color: $indians-yellow;
        }
        p, ul li {
          font-size: $text-small;
          line-height: 21px;
          width: $paragraph_width;
          margin: $base_padding / 2 0;
          @media screen and (max-width : 700px) {
            width: initial;
          }
          @media screen and (max-width : 420px) {
            font-size: $text-mobile;
          }
        }

        > p {
          font-size: 14px;

          img {
            max-width: 100%;
            object-fit: contain;
            padding: $base_padding 0;
            @media screen and (max-width: 750px) {
              padding: 0;
            }
          }
        }
        > ul {
          list-style-type: initial;
        }
        .lead-paragraph {
          line-height: inherit;
          font-size: $text-larger;
          @media screen and (max-width: 750px) {
            font-size: initial;
          }
        }
      }
    }

    .cta {
      grid-column-start: 2;
      grid-column-end: 12;
      .button {
        display: block;
        margin: 20px auto;
      }
    }
  }

  .news-item.old-news {
    display: flex;
    .image {
      flex: 2;
      margin: 20px 20px 0 0;
      img {
        max-width: 100%;
      }
      @media screen and (max-width: 480px) {
        margin: 0;
      }
    }
    .text {
      flex: 4;
      h2,
      p {
        width: 100%;
        margin-top: 0;
      }
      > a {
        float: right;
        margin-right: 40px;
        @media screen and (max-width: 480px) {
          margin: 0;
        }
      }
    }
    @media screen and (max-width: 480px) {
      display: block;
    }
  }

  div.news-partners {
    display: block;
  }

  .single-news-item {
    background-color: black;
    padding-top: 60px;
    color: white;

    .lead-paragraph {
      font-size: $text-large;
      line-height: 1.5em;
    }

    > div {
      > div {
        grid-column-start: 2;
        grid-column-end: 12;

        .image {
          position: relative;
          img {
            width: 100%;
            margin: 0 auto;
            display: block;
            margin-bottom: $base_padding;
          }
          .play-button {
            display: block;
            width: 85px;
            height: auto;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            opacity: 0.75;
            transition: all 340ms;
          }
        }

        @media screen and (max-width: 480px) {
          grid-column-start: 1;
          grid-column-end: 13;
        }

        h1,h2,h3 {
          color: $indians-yellow;
        }

        .lead-paragraph,
        h1 {
          margin-bottom: $base_padding;
        }

        ul > li {
          list-style: initial;
        }

        > * {
          margin: $base_padding / 2 auto;
        }
      }
    }
  }
}
