.news_page {

  h1,
  .news-item {
    grid-column-start: 2;
    grid-column-end: 12;
    @media screen and (max-width: 480px) {
      grid-column-start: 1;
      grid-column-end: 13;
    }
  }

  #news-carousel {
    grid-column-start: 2;
    grid-column-end: 12;
    @media screen and (max-width: 480px) {
      grid-column-start: 1;
      grid-column-end: 13;
    }
  }

  .news-carousel {
    margin-bottom: 60px;
  }

  img {
    max-width: 100%;
  }

  section.news-description {
    .news-body-container {
      margin: 50px auto;
      > p {
        font-family: "Encode Sans", sans-serif;
        font-size: 14px;
        letter-spacing: 1px;
        grid-column-start: 2;
        grid-column-end: 12;
      }
    }
  }

  section.news-items {
    background-color: black;
    padding-top: 60px;

    div.news-item-container {
      color: white;
      align-items: flex-start;

      > .news-item {
        margin-bottom: 100px;
        font-family: "Encode Sans", sans-serif;
        letter-spacing: 1px;

        > a {
          margin: 0;
          position: relative;
          top: -45px;
        }
        h1, h2, h3 {
          margin: 0 auto;
          width: $paragraph_width;
          @media screen and (max-width : 700px) {
            width: initial;
          }
        }
        h2 {
          margin: 4em auto;
          font-family: $black-ops;
          background-color: black;
          color: $indians-yellow;
          padding: 12px;
          margin-bottom: 50px;
        }
        p, ul li {
          font-size: $text-small;
          line-height: 21px;
          width: $paragraph_width;
          margin: 2em auto;
          @media screen and (max-width : 700px) {
            width: initial;
          }
          @media screen and (max-width : 420px) {
            font-size: $text-mobile;
          }
        }

        > p {
          font-size: 14px;

          img {
            max-width: 100%;
            object-fit: contain;
            padding: $base_padding 0;
            @media screen and (max-width: 750px) {
              padding: 0;
            }
          }
        }
        #lead-paragraph {
          font-size: 150%;
          font-style: italic;
          line-height: inherit;

          @media screen and (max-width: 750px) {
            font-size: initial;
          }
        }
      }
    }

    .cta {
      grid-column-start: 1;
      grid-column-end: 13;
      .button {
        display: block;
        margin: 20px auto;
      }
    }
  }

  div.news-partners {
    display: block;
  }
}
