.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  background: rgba(0,0,0,0.8);
  z-index: 9999;

  transition: all .4s ease-in-out;

  .modal-container {
    top:25%;
    left:50%;
    transform: translateX(-50%);
    position: absolute;
    z-index: 9999;
    padding: 0;
    border: solid burlywood 1px;
    width: 50%;
    background: black;

    transition: opacity .4s ease-in-out .4s, transform .2s ease-in-out .4s;

    .modal-statics {
      display: flex;
      justify-content:flex-start;
      padding:0;
      margin: 0;

      > li:nth-child(2) {
        width: 50%;
        text-align: center;

        > p {
          color: white;
        }
      }
    }
    .modal-desc {
      background: black;
      display: flex;
      justify-content: space-around;
      margin: 0;

      > li > p {
        color: white;
      }
    }

    .modal-img-wrapper {
      width: 100%;
      margin:0;

      .modal-img {
        height: 50%;
        object-fit: cover;
      }

      .modal-bg {
        position: absolute;
        width: 100%;
        height: 100%;

      }
    }
  }

  &.not-visible {
    opacity: 0;

    .modal-container {
      opacity: 0;
      transform: translate(-50%, -100px);

    }
  }

  &.visible {
    opacity:1;

    .modal-container {
      opacity: 1;
      transform: translate(-50%, 0px);
    }
  }
}



