.player-browser-root {

  .player-container {
    position: relative;
    overflow: hidden;
    background: black;
    max-height: 350px;
    display: flex;

    .player-img-wrapper {
      margin: auto;
      max-height: 350px;
      .player-img {
        width: 100%;
        max-height: 350px;

        &.player-default {
          transform: scale(.7);
        }
      }
    }

    .desc-container {
      position: absolute;
      bottom: 0;
      width: 100%;

      //padding: 0 $base_padding / 2;

      > p {
        color: $indians-yellow;
        margin: 0;

        @media screen and (min-width: 176px) and (max-width: 1200px) {
          font-size: 14px;
        }

        @media screen and (min-width: 176px) and (max-width: 600px) {
          line-height: 14px;
        }

        @media screen and (min-width: 176px) and (max-width: 430px) {
          font-size: 12px;
        }
      }

      .bottom {
        display: flex;
        width: 100%;
        background: rgba(0, 0, 0, 0.5);
        .player-name {
          padding: 5px 0;
          margin-left: 85px;
          display:flex;
          justify-content:center;
          align-items:center;
          flex-flow:column nowrap;
          @media screen and (max-width: 1200px) {
            margin-left: 44px;
          }
          @media screen and (max-width : 420px) {
            padding: 0 0 0 40px;
            margin-left: 10px;
          }
          > div {
            text-align: left;
            p {
              margin: 3px 0;
              font-size: 16px;
              word-spacing: 100vw;
              text-transform: uppercase;
              letter-spacing: 4px;
              @media screen and (max-width : 420px) {
                font-size: 16px;
              }
              @media screen and (min-width: 176px) and (max-width: 1200px) {
                margin: 0;
                font-size: 10px;
                letter-spacing: 3px;
                line-height: 16px;
              }

              @media screen and (min-width: 176px) and (max-width: 600px) {
                font-size: 12px;
                line-height: 14px;
              }

              @media screen and (min-width: 176px) and (max-width: 430px) {
                font-size: 8px;
              }
            }
          }
        }
        .number {
          position: absolute;
          left: 0;
          height: 100%;
          display: flex;
          padding: 0 10px;
          p {
            margin:auto;
            color: $indians-yellow;
            font-size: 35px;
            @media screen and (max-width: 1200px) {
              font-size: 14px;
            }
          }
        }
        .employee {
          .role {
            p {
              color: $indians-yellow;
              margin: 5px 0 20px 10px;
              letter-spacing: 3px;
              @media screen and (min-width: 176px) and (max-width: 1200px) {
                margin: 0 0 0 10px;
                font-size: 10px;
                line-height: 16px;
                letter-spacing: 2px;
              }
            }
          }
          .employee-name {
            div {
              p {
                font-size: 16px;
                text-transform: uppercase;
                letter-spacing: 4px;
                word-spacing: 100vw;
                margin: 5px 0 10px 10px;
                @media screen and (min-width: 176px) and (max-width: 1200px) {
                  font-size: 10px;
                  letter-spacing: 3px;
                  line-height: 16px;
                }
              }
            }
          }
        }
      }
    }
  }

  .player-container:hover > .player-img-wrapper {
    transform: scale(1.2);
    transition: all .3s ease-in-out;
    cursor: pointer;
  }
  @media screen and (min-width: 176px) and (max-width: 1200px) {
    line-height: 16px;
  }
}