.player-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.8);
  z-index: 9999;
  transition: all .4s ease-in-out;

  p {
    font-family: $titillium-web;
  }

  .player-modal-container {
    //margin: 20vh 20vw;

    width: 400px;
    height: 800px;
    position: absolute;
    z-index: 9999;
    padding: 0;
    border: solid #3E3C3B 1px;

    background: black;
    transition: opacity .4s ease-in-out .4s, transform .2s ease-in-out .4s;

    @media screen and (max-width : 420px) {
      width: 300px;
      height: 550px;
    }

      div > .statistics {
        width: 50%;
        margin: 0 auto;
        p {
          font-size: 20px;
        }
      }

      div.upper {
        height: 70%;
        width: 100%;
        position: relative;
        @media screen and (max-width : 420px) {
          height: 66%;
        }
        p {
          color: white;
        }

        .modal-img-wrapper {
          display: flex;
          align-items: center;
          justify-content:center;
          height: -webkit-fill-available;
          margin:0;
          overflow: hidden;
          @media screen and (max-width : 420px) {
            height: 85%;
          }
          iframe {
            border: none;
          }
          .modal-img {
            object-fit: contain;
            width: 95%;
            max-height: 99%;
            z-index: -1;
            &.player-default {
              width: 50%;
            }
          }
        }
        div.middle {
          position: absolute;
          bottom: 0;
          width: 100%;
          display: flex;
          //padding-left: 10px;
          justify-content: center;
          align-items: center;
          box-sizing: border-box;
          background: rgba(0, 0, 0, 0.5);
          @media screen and (max-width : 420px) {
            bottom: auto;
          }
          .name {
            padding: 10px 0;
            margin-left: 40px;
            display:flex;
            justify-content:center;
            align-items:center;
            flex-flow:column nowrap;
            @media screen and (max-width : 420px) {
              padding: 0 0 0 40px;
            }
            > div {
              text-align: left;
              p {
                margin: 3px 0;
                font-size: 24px;
                word-spacing: 100vw;
                text-transform: uppercase;
                letter-spacing: 4px;
                @media screen and (max-width : 420px) {
                  font-size: 16px;
                }
              }
            }
          }
          .number {
            position: absolute;
            background-color: black;
            left: 0;
            height: 100%;
            display: flex;
            padding: 0 20px;
            p {
              margin:auto;
              color: $indians-yellow;
              font-size: 40px;
            }
          }

        }
      }

      div.lower {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 20px;
        @media screen and (max-width : 420px) {
          padding: 0 0 0 20px;
        }
        p {
          color: $indians-yellow;
          margin: 3px 0;
          //padding: 0 25px 25px 25px;

          &.position {
            font-size: 110%;
            text-transform: uppercase;
            margin: 0 0 15px 0;
            @media screen and (max-width : 420px) {
              margin: 10px 0;
            }
          }
        }
      }

    .some {
      position: absolute;
      bottom: 10px;
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      margin: 0;
      @media screen and (max-width : 420px) {
        bottom: 2px;
      }
      > a {
        color: $indians-grey;
        &:hover {
          svg path {
            fill: $indians-yellow;
            transition: color 300ms linear;
          }
        }
      }
      > li > p {
        color: white;
      }
     }



    .icons {
      user-select: none;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      color: white;
      opacity:.4;

      &.size-125 {
        font-size: 124px !important;
      }

      &.left {
        right: 103%;
      }

      &.right {
        left: 102%;
      }

      &:hover {
        opacity: .9;
        cursor: pointer;
      }

      @media screen and (max-width : 520px) {
        &.left {
          right: 87%;
        }
        &.right {
          left: 87%;
        }
      }
      @media screen and (max-width : 420px) {
        &.left {
          top: 35%;
          right: 100%;
          font-size: 45px !important;
        }
        &.right {
          top: 35%;
          left: 99%;
          font-size: 45px !important;
        }
      }
      @media screen and (max-width : 400px) {
        &.left {
          top: 35%;
          right: 83%;
          font-size: 45px !important;
        }
        &.right {
          top: 35%;
          left: 82%;
          font-size: 45px !important;
        }
      }
    }

  }

  &.not-visible {
    opacity: 0;

    .modal-container {
      opacity: 0;
      transform: translate(-50%, -100px);

    }
  }

  &.visible {
    opacity:1;

    .modal-container {
      opacity: 1;
    }
  }
}



