
.player-browser-root {
  display: grid;
  grid-template-columns: repeat(auto-fill, 450px);
  grid-template-rows: repeat(6, 350px);
  justify-content: center;
}

.player-browser-root > div {
  color: white;
  border: solid white 1px;
}

.blurred {
  filter: $blur;
}

