.player-browser-root {
  display: grid;
  grid-template-columns: repeat(5, 250px);
  //grid-template-rows: repeat(5, 350px);

  padding-bottom: $base_padding;

  &:empty {
    display: none;
  }

  @media screen and (max-width: 1300px) {
    grid-template-columns: repeat(4, 250px);
  }
  @media screen and (max-width: 1200px) {
    grid-template-columns: repeat(auto-fit, 150px);
  }
  @media screen and (max-width: 530px) {
    justify-content: center;
  }
}

.blurred {
  filter: $blur;
}



