.player-browser-root {

  .player-container {
    position: relative;
    overflow: hidden;
    background: black;
    max-height: 350px;
    display: flex;

    .player-img-wrapper {
      margin: auto;
      max-height: 350px;
      .player-img {
        width: 100%;
        max-height: 350px;

        &.player-default {
          transform: scale(.7);
        }
      }
    }

    .desc-container {
      position: absolute;
      bottom: 10px;
      padding: 0 $base_padding / 2;

      > p {
        color: $indians-yellow;
        margin: 0;

        @media screen and (min-width: 176px) and (max-width: 1200px) {
          font-size: 14px;
        }

        @media screen and (min-width: 176px) and (max-width: 600px) {
          line-height: 14px;
        }

        @media screen and (min-width: 176px) and (max-width: 430px) {
          font-size: 12px;
        }
      }

      .player-desc {
        background:rgba(0,0,0,0.2);
        width: 100%;
        display: flex;
        list-style: none;
        flex-direction: row;
        padding: 0;
        margin: 0;


        > li {
          margin: auto 0;

          > p {
            font-family: $titillium-web;
            font-size: 20px;
            color: white;

            @media screen and (min-width: 176px) and (max-width: 1200px) {
              font-size: 16px;
            }

            @media screen and (min-width: 176px) and (max-width: 600px) {
              font-size: 12px;
              line-height: 14px;
            }

            @media screen and (min-width: 176px) and (max-width: 430px) {
              font-size: 8px;
            }
          }

          .player-number {
            margin: 0 10px 0 0;
          }

          &.employee {
            text-align: start;
            width: 100%;
            p { margin:0}
          }

          &.player {
            text-align: left;
            width: 100%;
            p { margin: 0; }
          }
        }
      }
    }
  }

  .player-container:hover > .player-img-wrapper {
    transform: scale(1.2);
    transition: all .3s ease-in-out;
    cursor: pointer;
  }

}

.player-name,
.player-number,
.player-browser-root .player-container .desc-container .player-desc > li > p.player-number {
  color: $indians-yellow;
  font-size: xx-large;
  text-align: center;

  @media screen and (min-width: 176px) and (max-width: 1200px) {
    font-size: 25px;
  }

  @media screen and (min-width: 176px) and (max-width: 600px) {
    font-size: 16px;
  }

}

