.representative_page {
  section.in-focus {
    .lift-container,
    .news-container .row-news .news-item,
    .some-container .some-row div {
      opacity: 1;
    }
  }
  section.team {
    .team-container {
      padding: 40px $base_padding 120px;
      .repr-body {
        grid-column-start: 1;
        grid-column-end: 13;

        .rich-text > p > img {
          opacity: .4;
        }

        img {
          margin-top: 40px;
          max-width: 100%;
        }
      }
      .info-links {
        grid-column-start: 1;
        grid-column-end: 12;
        padding: 0;

        a {
          font-family: $titillium-web;
          display: inline;
          color: black;
          text-transform: uppercase;
          font-weight: bold;
          font-size: 16px;
          letter-spacing: $letter-spacing-medium;
        }
        @media screen and (min-width: 490px) {
          a::after {
            content: " | ";
            padding: 5px;
          }
          a:last-child:after {
            content: "";
          }
        }
      }
    }
  }
  section.schedule {
    background-color: black;
    color: white;
  }
  section.schedule, section.statistics {
    .schedule-head, .statistics-head {


      > div {
        display: flex;
        flex-direction: column;
        width: 100%;
      }
    }
    .schedule-container, .statistics-container {
      align-items: flex-start;
      justify-content: space-evenly;
      max-width: 1280px;
      margin: 0 auto;
      padding: 100px 40px;

      @media screen and (min-width: 176px) and (max-width: 1130px) {
        flex-direction: column;
      }
      .row-content {
        grid-column-start: 1;
        grid-column-end: 12;
        padding-top: 5px;

        > div {
          display: flex;
          font-family: "Encode Sans", sans-serif;
          font-size: 18px;
          letter-spacing: 1px;
          line-height: 21px;
          justify-content: space-between;
          p {
            &.location {
              //margin: 14px 0;
            }
            @media screen and (max-width: 630px) {
              font-size: 12px;
            }
            @media screen and (max-width: 500px) {
              font-size: 10px;
            }
            @media screen and (max-width: 420px) {
              font-size: 8px;
            }
          }
          @media screen and (min-width: 176px) and (max-width: 640px) {
            justify-content: space-between;

            &#draws {
              display: none;
            }
          }
        }
        .cell {
          flex-direction: column;
        }
        .head {
          height: 50px;
          & h3:nth-child(2) {
            margin-left: 20px;
          }
          & h3:nth-child(3) {
            margin-right: 50px;
          }
          h3 {
            @media screen and (max-width: 630px) {
              font-size: 14px;
            }
            @media screen and (max-width: 500px) {
              font-size: 10px;
            }
            @media screen and (max-width: 420px) {
              font-size: 12px;
            }
          }
        }
      }
    }
  }

  section.team {
    .team-container {
      #some-cta {
        @media screen and (max-width: 490px) {
          display: none;
        }
      }
    }
  }
  section.footer > img:first-child {
    background-color: white;
  }
}