section.some {
  background-color: black;
  @media screen and (max-width: 490px) {
  }
  h1 {
    padding: 0 0 50px 50px;
    color: white;
  }
  svg {
    padding: 10px;
  }
  .some-container {
    align-items: flex-start;
    display: block;
    justify-content: space-evenly;
    max-width: 1280px;
    margin: 0 auto;
    padding-bottom: 100px;
    color: white;
    text-align: right;
      img#logo {
        padding: $base_padding * 2 60px $base_padding 0;
        width: 100px;
        @media screen and (max-width: 780px) {
          width: 80px;
        }
      }
    .some-row {
      display: flex;
      justify-content: space-evenly;
      > div {
        display: flex;
        flex-direction: column;
        opacity:0;
        transition: $scroll-transition;
        max-height: 820px;
        overflow: hidden;
        @media screen and (max-width: 420px) {
          max-width: 280px;
        }
      }
      @media screen and (max-width: 740px) {
        flex-direction: column;
        > div {
          margin: 0 auto;
          padding-bottom: 20px;
          max-height: 520px;
        }
      }
    }
    #instafeed {
      max-width: 320px;

      a {
        padding: 2px;
        img {
          height: 146px;
        }
      }
      @media screen and (max-width: 950px) {
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        width: 450px;
      }
    }
    div.instagram-wrapper {
      display: flex;
      @media screen and (max-width: 740px) {
        display: none;
      }
      svg {
        //padding: $base_padding 50px 10px 50px;
      }
      .team-insta {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        //padding: 0 $base_padding 20px $base_padding;
      }
    }

  }

  @media screen and (max-width: 880px) {
    padding: 0;
  }

  &.tribe-some {
    background-color: white;
  }

}