section.team-statistics {

  .team-statistics-container {

    .team-statistics-content {
      grid-column-start: 2;
      grid-column-end: 12;
      margin-bottom: 100px;

      > * {
        margin: 100px 0;
      }

      h2 {
        background-color: black;
        color: white;
        padding: 5px 20px;
        width: 50%;
        margin-bottom: 50px;
      }
    }
  }
}