.stats_page {

  section.stats {
    background-color: black;
    padding: 30px 0 60px;
  }
  div.standings {
    table thead tr th:not(:first-child):hover {
      cursor: pointer;
    }
  }

  h1,
  .table-container {
    grid-column-start: 1;
    grid-column-end: 13;
    @media screen and (max-width: 480px) {
      grid-column-start: 1;
      grid-column-end: 13;
    }
  }

  h1 {
    color: white;
  }

  .table-container {
    @media screen and (max-width: 740px) {
      width: 700px;
      overflow-x: scroll;
    }
  }

  table {
    background: black;
    color: black;
    width: 100%;
    border: 0;
    table-layout: fixed;
    border-collapse:collapse;
    tr {
      background: #383838;
      &:nth-child(even) {
        background: #1A1A1A;
        .selected {
          background: #D3C930;
        }
      }
      &:nth-child(odd) {
        .selected {
          background: #D8CE35;
        }
      }
      &:hover {
        td:not(.selected) {
          color: $indians-yellow;
        }
      }
    }
    th {
      color: white; //$indians-yellow;
      font-family: $titillium-web;
      line-height: 1em;
      letter-spacing: $letter-spacing-x-large;
      font-weight: 700;
      background: black;
      &.selected {
        background: #CFC52C !important;
        color: black;
        font-weight: bold;
      }
      /*
      &:nth-of-type(2) {
        color: white;
      }
      */
    }
    td {
      color: white;
      font-family: $encode-sans;
    }
    th,
    td {
      padding: 5px 0;
      max-width: 100%;
      letter-spacing: 1.5px;
      @media screen and (max-width: 1100px) {
        font-size: 14px;
      }
      @media screen and (max-width: 940px) {
        font-size: 11px;
      }
    }
    th,
    td {
      text-align: right;
      text-transform: uppercase;
      &.selected {
        color: black;
        font-weight: bold;
      }
    }
    tr:nth-child(2n) {
      //background: $indians-grey;
    }
  }

  .standings {
    padding-top: 30px;
    th,
    td {
      text-align: center;
    }
    th:nth-child(1),
    td:nth-child(1) {
      text-align: center;
    }
    th:nth-child(2),
    td:nth-child(2) {
      text-align: left;
    }
  }

  .upcoming-games,
  .played-games {
    padding-top: 30px;
    th,
    td {
      text-align: left;
    }
    th:nth-child(1),
    td:nth-child(1) {
      text-align: left;
    }
  }
  .played-games {
    td.link {
      cursor:pointer;
      color: $indians-yellow;
    }
  }

  img {
    max-width: 100%;
  }

}
