.team-browser-root {
  margin:50px 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 220px);
  grid-template-rows: repeat(auto-fill,270px);
  grid-gap: 10px;
  justify-content: space-between;

  .team-container {
    border: solid 1px white;
    background-color: $indians-bg-grey;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      width: 75%;
      height:75%;
    }
  }

}