.team_page {

  .main-grid-body {

    section.repr-lift {
      background: black;
      color: white;
      margin: 0;
      padding: $base_padding 0;
      > div {
        > div {
          grid-column-start: 2;
          grid-column-end: 12;
          img {
            margin-top: 40px;
            max-width: 100%;
          }
        }
      }
    }

    section.team {
      background-image: none;
      max-width: 1280px;
      margin: 0 auto;
    }

    section.players {
      background: black;
      color: white;
      padding: 0 $base_padding $base_padding * 2;

      @media screen and (max-width: 380px) {
        padding: 0 $base_padding / 2;
      }

      .player-wrapper {
        display: block;
        padding: $base_padding 0;
        h1 {
          margin: 0;
          padding: $base_padding 0;
        }
      }
    }
  }

}
