section.teams-description {
  .container {
    padding: 120px 0;
    > * {
      grid-column-start: 2;
      grid-column-end: 12;
    }
  }


}
section#teams {

  .team-filter {
    grid-column-start: 2;
    grid-column-end: 12;
    display: flex;
    justify-content: center;
    background-color: $indians-grey;
    flex-direction: row;
    > div {
      flex-direction: column;
      letter-spacing: $letter-spacing-medium;

      > p {
        font-weight: bold;
        font-family: $titillium-web;
        text-transform: uppercase;
        letter-spacing: $letter-spacing-large;
      }

      label {
        font-family: $encode-sans;
        input {
          margin: 10px;
        }
      }
    }

    > * {
      margin: 0;
      padding: 20px;
      display: flex;
    }
  }

  .team-browser-root {

    display: grid;
    grid-column-start: 2;
    grid-column-end: 12;
    grid-template-columns: repeat(auto-fit, 220px);
    grid-template-rows: repeat(auto-fill,270px);
    grid-gap: 10px;
    justify-content: space-evenly;
    padding: 50px 0;

    a {
      line-height: normal;

      > div.teams-team-container {
        background-color: $indians-dark;

        .img-container {
          height: 220px;
          width: 220px;
          display: flex;
          justify-content: center;
          align-items: center;

          > img {
            min-height: 50%;
            min-width: 50%;
            max-width: 90%;
            max-height: 90%;
            object-fit: cover;
          }
        }

        h3 {
          font-family: $titillium-web;
          background-color: $indians-bg-grey;
          color: white;
          text-align: center;
          margin: 0;
          padding: 10px 0;
        }
      }
    }

  }


}

