.teams_page {

  section.teams-description {
    background-color: black;
    .container {
      padding: $base_padding / 2 $base_padding $base_padding / 2 * 3;
      color: white;
      > * {
        grid-column-start: 1;
        grid-column-end: 13;
      }
      p > a {
        color:$indians-yellow;
        display: inline;
      }
    }
  }

  section#teams {
    padding-top: 60px;

    > div {
      .filter-container {
        background-color: black;
        color: white;
        grid-column-start: 1;
        grid-column-end: 13;

        .filter-upper {
          display: flex;
          justify-content: space-between;
          .filter-title {
            display: inline-block;

            h2 {
              padding: $base_padding $base_padding 5px $base_padding;
              margin: 0;
              font-size: 24px;
            }
            .team-gender {
              display: flex;
              flex-direction: column;
              padding: $base_padding 0 0 $base_padding;
              label {
                font-family: $encode-sans;
                input {
                  margin: 10px;
                  color: white;
                }
              }
            }
          }
          .path-info {
            p {
              font-size: 14px;
              margin: 0 10px;
              span svg {
                width: 20px;
                transform: translateY(22px);
                padding: 0 5px;
                &#harrastajan {
                  path {
                    fill: $harrastajan-polku;
                  }
                }
                &#kilpailijan {
                  path {
                    fill: $kilpailijan-polku;
                  }
                }
                &#urheilijan {
                  path {
                    fill: $urheilijan-polku;
                  }
                }
              }
            }

            @media screen and (max-width: 425px) {
              display: none;
            }
          }
        }
        .team-filter {
          padding-top: $base_padding;
          grid-column-start: 2;
          grid-column-end: 12;
          display: flex;
          flex-wrap: nowrap;
          justify-content: center;
          flex-direction: row;

          max-width: 1280px;
          > div {
            flex-grow: .3;
            flex-basis: 300px;
            flex-direction: column;
            letter-spacing: $letter-spacing-medium;

            > p {
              font-weight: bold;
              font-family: $titillium-web;
              text-transform: uppercase;
              letter-spacing: $letter-spacing-large;
            }

            label {
              font-family: $encode-sans;
              input {
                margin: 10px;
              }
            }

            &.select-path {
              p > .events {
                font-size: 12px;
              }
            }
          }

          > * {
            margin: 0;
            padding: 20px;
            display: flex;
            justify-content: space-between;
          }

          @media screen and (max-width: 1080px) {
            flex-wrap: wrap;
          }
        }
      }
    }
  }
}