.team_page {

  .main-grid-body {
    section.team {
      background-image: none;
      max-width: 1280px;
      margin: 0 auto;
      .teams-team-container {
        padding-top: 120px;
        @media screen and (max-width: 380px) {
          padding-top: $base_padding;
        }
        @media screen and (max-width: 910px) {
          display: flex;
          flex-direction: column;
        }

        h1 {
          position: relative;
          margin: $base_padding * 2 0;
          grid-column-start: 1;
          grid-column-end: 13;
          @media screen and (max-width: 420px) {
            margin: $base_padding 0;
          }
        }

        p {
          @media screen and (max-width: 420px) {
            margin: 20px 0;
          }
        }

        img {
          position: relative;
          grid-column-start: 1;
          grid-column-end: 13;
          max-width: 100%;
          object-fit: contain;
          &#default {
            grid-column-start: 3;
            width: 250px;
            @media screen and (max-width: 420px) {
              display: none;
            }
          }

          @media screen and (min-width: 176px) and (max-width: 640px) {
            padding-bottom: 50px;
          }
        }

        div.content {
          grid-column-start: auto;
          grid-column-end: 12;

          > div {

          }

          .team-contact {
            padding-bottom: 30px;
            @media screen and (min-width: 176px) and (max-width: 1200px) {
             padding: 0;
            }
            p {
              word-wrap: break-word;
            }
          }
        }
        .team-description {
          grid-column-start: 1;
          grid-column-end: 13;
          margin-top: $base_padding * 2;
          @media screen and (min-width: 176px) and (max-width: 1200px) {
            padding: 0 25px;
          }
          @media screen and (min-width: 176px) and (max-width: 1200px) {
            margin: 0;
          }
        }
        .team-info {
          p:empty {
            display: none;
          }
        }
      }
    }

    section.players {
      background: black;
      color: white;
      padding: 0 $base_padding $base_padding * 2;

      @media screen and (max-width: 380px) {
        padding: 0 $base_padding / 2;
      }

      .player-wrapper {
        display: block;
        padding: $base_padding 0;
        h1 {
          margin: 0;
          padding: $base_padding 0;
        }
      }
    }
  }

}
