section.teams-description {
  background-color: black;
  .container {
    padding: 120px 0;
    color: white;
    > * {
      grid-column-start: 1;
      grid-column-end: 13;
    }
  }
}
section#teams {

  padding-top: 120px;
  > div {
    .filter-container {
      background-color: black;
      color: white;
      grid-column-start: 1;
      grid-column-end: 13;

      .filter-title {
        display: inline-block;

        h2 {
          padding: $base_padding $base_padding 5px $base_padding;
          margin: 0;
          font-size: 24px;
        }
        .team-gender {
          display: flex;
          flex-direction: column;
          padding: $base_padding 0 0 $base_padding;
          label {
            font-family: $encode-sans;
            input {
              margin: 10px;
              color: white;
            }
          }
        }
      }
      .team-filter {
        padding-top: $base_padding;
        grid-column-start: 2;
        grid-column-end: 12;
        display: flex;
        justify-content: center;
        flex-direction: row;
        max-width: 1280px;
        > div {
          width: 300px;
          flex-direction: column;
          letter-spacing: $letter-spacing-medium;

          > p {
            font-weight: bold;
            font-family: $titillium-web;
            text-transform: uppercase;
            letter-spacing: $letter-spacing-large;
          }

          label {
            font-family: $encode-sans;
            input {
              margin: 10px;
            }
          }

          &.select-path {
            p > .events {
              font-size: 12px;
            }
          }
        }

        > * {
          margin: 0;
          padding: $base_padding;
          display: flex;
          justify-content: space-between;
        }
      }
    }
    .team-browser-root {

      display: grid;
      grid-column-start: 1;
      grid-column-end: 13;
      grid-template-columns: repeat(auto-fit, 220px);
      grid-template-rows: repeat(auto-fill,300px);
      grid-gap: 10px;
      justify-content: space-evenly;
      padding: 50px 0;

      a {
        line-height: normal;

        > div.teams-team-container {
          background-color:black;
          height: 275px;
          .img-container {
            height: 200px;
            width: 220px;
            display: flex;
            justify-content: center;

            > img {
              min-height: 50%;
              min-width: 50%;
              object-fit: cover;

              &.team-image {
                width:100%;
              }
              &.default-image {
                max-width: 90%;
                max-height: 60%;
                align-self: center;
                .img-container & {
                }
              }
            }
          }
          .desc-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 75px;
            background-color: $indians-bg-grey;

          }

          h3 {
            font-family: $titillium-web;
            font-size: 18px;
            color: white;
            text-align: center;
            margin: 0;
            padding: 10px;
          }
        }
      }
    }
  }
}





