.main-grid-body {

  section.team {
    background-image: none;
    .teams-team-container {
      padding-top: 120px;

      @media screen and (max-width: 820px) {
        display: flex;
        flex-direction: column;
      }

      h1 {
        position: relative;
        grid-column-start: 1;
        grid-column-end: 13;
      }

      .teams-team-img {
        position: relative;
        grid-column-start: 1;
        grid-column-end: 6;
        max-width: 500px;

        @media screen and (min-width : 176px) and  (max-width : 640px) {
          padding-bottom: 50px;
        }
      }

      div.content {
        grid-column-start: 7;
        grid-column-end: 13;

        > div {
          padding-left: 50px;
        }

        .team-contact { padding-bottom: 30px }
      }
      .team-description {
        grid-column-start: 2;
        grid-column-end: 12;
        padding: $base_padding * 2 0;

        @media screen and (min-width: 176px) and (max-width: 1200px) {
          padding: 0 25px;
        }
      }
      .team-info {
        p:empty {
          display: none;
        }
      }
    }
  }

  section.players {
    background: black;
    color: white;

    .player-wrapper {
      display: block;
      padding: $base_padding 0;
      h1 {
        margin: 0;
        padding: $base_padding 0;
      }
    }
  }
}
