.team-filter {
  display: flex;
  justify-content: center;
  background-color: $indians-grey;
  flex-direction: row;

  > div > * {
    margin: 0;
    padding: 20px;
    display: flex;

  }

  .select-path {
    flex-direction: column;
  }

}