.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  background: rgba(0,0,0,0.8);
  z-index: 9999;
  transition: all .4s ease-in-out;

  .team-modal-container {
    color: white;
    margin: 20vh 35vw;
    width: 30vw;
    height: auto;
    position: absolute;
    z-index: 9999;
    padding: 0;
    border: solid #3E3C3B 1px;
    background: black;
    transition: opacity .4s ease-in-out .4s, transform .2s ease-in-out .4s;
    > p {
      position: absolute;
      margin: 0;
      transform: translateY(-50px);
      text-align: right;
      font-size: 50px;
      right: 0;
      pointer-events: none;
    }

    @media screen and (max-width : 1200px) {
      margin: 10vh 10vw;
      width: 80vw;
    }
    @media screen and (max-width : 1024px) {
      margin: 30vh 30vw;
      width: 40vw;
    }
    @media screen and (max-width : 700px) {
      margin: 10vh 10vw;
      width: 80vw;
    }
    @media screen and (max-width : 450px) {
      p {
        //margin: 2px 0;
      }
    }
    @media screen and (max-height : 1100px) {
      margin: 2vh 10vw;
      width: 80vw;
    }
    @media screen and (max-height : 1100px) and (max-width: 820px) {
      margin: 10vh 10vw;
      width: 80vw;
    }

    @media (orientation: landscape) and (max-width: 800px){
      margin: 1vh 10vw;
      height: 350px;
    }
    @media (orientation: landscape) and (max-width: 800px) {
      margin: 1vh 10vw;
    }
    .upper, .middle, .lower {
      display: flex;
      width: 100%;
    }

      div.upper {
        flex-direction: column;
        height: 45%;
        @media (orientation: landscape) and (max-width: 800px){
          display: none;
        }

        .modal-img-wrapper {
          box-sizing: border-box;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0 auto;
          width: 100%;
          height: 100%;

          img {
            max-height: 400px;
            width:100%;
            object-fit: contain;
            @media (orientation: landscape) and (max-height: 800px) {
              height: 250px;
            }

            &.default-image {
              width: 40%;
              padding-top: $base_padding;

            }
          }
          .modal-img {
            object-fit: contain;
            width: 100%;
            max-height: 100%;

            &.player-default {
              width: 75%;
            }
          }
        }
      }
      .middle {
        justify-content: center;
        flex-direction: column;
        border-bottom: solid 1px $indians-not-so-black;
        h2 {
          text-align: center;
          font-size: 25px;
          margin: 20px;
          @media screen and (max-width: 420px){
            font-size: 16px;
            margin: 10px;
          }
        }
        p {
          margin: 0;
          padding: 0  10px 10px 10px;
          text-align: center;
          font-size: 16px;
          @media screen and (max-width: 420px), (max-height: 420px){
            font-size: 10px;
          }
        }
      }
      div.lower {
        p {
          font-size: 14px;
          overflow-wrap: break-word;
          word-wrap: break-word;
          @media screen and (max-width : 420px) {
            font-size: 10px;
          }
          @media(orientation: landscape) and (max-width : 680px)  {
            font-size: 12px;
            margin: 2px;
          }
        }
        div {
          .title {
            color: $indians-yellow;
          }
        }
        .lower-left {
          width: 66.6%;
          .lower-left-upper, .lower-left-lower {
            div {
              padding: 10px;
              @media(orientation: landscape) and (max-height : 780px) {
                padding: 0 10px;
              }
            }
          }
        }
        .lower-right {
          width: 50%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          button {
            border: none;
            font-family: $encode-sans;
            text-align: center;
            display: inline-block;
            line-height: 17px;
            text-transform: uppercase;
            word-wrap: break-word;
            padding: 10px;
            margin: 35px 0;
            height: 50px;
            width: 70%;
            @media(orientation: landscape) and (max-height : 780px) {
              margin: 15px 0;
            }
            @media screen and (max-width : 420px) {
              width: 80%;
              font-size: 10px;
              margin: 10px 0;
            }
            @media(orientation: landscape) and (max-width : 700px) {
              width: 50%;
              height: 50px;
              margin: 5px 0;
            }
          }
        }
      }
    .material-icons {
      user-select: none;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      color: white;
      opacity:.4;

      &.size-125 {
        font-size: 124px !important;
      }

      &.left {
        right: 100%;
      }

      &.right {
        left: 100%;
      }

      &.material-icons:hover {
        opacity: .9;
        cursor: pointer;
      }

      @media screen and (max-width : 950px) {
        &.left {
          right: 94%;
        }
        &.right {
          left: 94%;
        }
      }
    }

  }

  &.not-visible {
    opacity: 0;

    .modal-container {
      opacity: 0;
      transform: translate(-50%, -100px);

    }
  }

  &.visible {
    opacity:1;

    .modal-container {
      opacity: 1;
    }
  }
}

//card ribbon
.card-parent {
  overflow: hidden;
}
.ribbon {
  margin: 0;
  background:black;
  color:white;
  padding:10px;
  position: absolute;
  top:0;
  right:0;
  transform: translateX(30%) translateY(0%) rotate(45deg);
  transform-origin: top left;

  &.harrastajan {
     background:$harrastajan-polku;
   }
  &.kilpailijan {
    background:$kilpailijan-polku;
  }
  &.urheilijan {
    background:$urheilijan-polku;
  }
}
.ribbon:before,
.ribbon:after {
  content: '';
  position: absolute;
  top:0;
  margin: 0 -1px; /* tweak */
  width: 100%;
  height: 100%;
  background: inherit;
}
.ribbon:before {
  right:100%;
}

.ribbon:after {
  left:100%;
}

