.tribe {
  padding: $base_padding 0;
}

.main-grid-body {

  .tribe-body, #lift {
    display: flex;
    justify-content: center;
  }

  #lift {
    .tribe-main-lift {
      margin: 0 auto;
      display: flex;
      justify-content: center;
      overflow: hidden;
      .rich-text {

        > p {margin: 0;}

        .responsive-object {
          padding: 0!important;
        }
      }
    }
  }
  section.tribe-news {
    .news-container {
      .row-head {
        grid-column-start: 1;
        grid-column-end: 13;
      }
    }
    @media screen and (min-width : 176px) and  (max-width : 640px) {
      display: block;

      .news-container {
        .row-head {
          padding: 0px;
        }
        .row-news {
          display: flex;
          flex-direction: column;
          .news-item {
            padding-bottom: 100px;
            width: 325px;
            > a > div.news-image {
              display: flex;
              justify-content: center;
              align-items: center;
              height: 150px;
              width: 325px;
              border: solid 1px;
            }
          }
        }
      }
    }
  }
  section.tribe-some {
    .some-container {
      grid-column-start: 1;
      grid-column-end: 13;
      display: flex;
      justify-content: space-around;
    }
  }
  section.lift {
    .lift-container {
      .lift-img {
        padding: 40px;
        > img {
          max-width: 100%;
        }
      }
    }
  }
}