.tribe_page {

  section.in-focus {
    .lift-container,
    .news-container .row-news .news-item,
    .some-container .some-row div {
      opacity: 1;
    }
  }

  section.tribe {

  }
  .tribe-body, #lift {
    display: flex;
    justify-content: center;
  }

  .lift {
    background: white;
    .tribe-main-lift {
      margin: $base_padding auto;
      display: flex;
      justify-content: center;
      overflow: hidden;
      .rich-text {

        > p {margin: 0;}

        .responsive-object {
          padding: 0!important;
        }
      }
    }
  }
  .tribe-news {
    .news-container {
      .row-head {
        grid-column-start: 1;
        grid-column-end: 13;
      }
    }
    @media screen and (min-width : 176px) and  (max-width : 640px) {
      display: block;
    }
    .news-container {
      .row-head {
        padding: 50px;

        @media screen and (max-width: 640px) {
          padding: 50px 10px 30px 10px;
          > a {
            font-size: 12px;
          }
        }
      }
      .row-news {
        grid-column-start: 1;
        grid-column-end: 13;
        display: flex;
        align-items: center;
        @media screen and (min-width: 176px) and (max-width: 920px) {
          flex-direction: column;
          div.news-item {
            width: 320px;
          }
        }
        .news-item {
          opacity: 0;
          transition: $scroll-transition;
          width: 300px;
          height: auto;
          padding: $base_padding;
          @media screen and (max-width: 1160px) {
            width: 250px;
          }
          @media screen and (min-width: 176px) and (max-width: 1024px) {
            padding: $base_padding / 2;
          }
          > a {
            > div.news-image {
              width: 250px;
              height: 150px;
              display: flex;
              justify-content: center;
              align-items: center;

              img {
                width: 100%;
                height: 100%;
              }
            }
          }
          .item-text-container {
            align-self: center;
            padding: 25px 0 100px 0;
            @media screen and (min-width: 176px) and (max-width: 1024px) {
              padding: 20px 0 0 0;
            }
            > a > h2 {
              margin: 0;
            }
          }
        }
      }
    }
  }
}
