.tribe_page {
  section.in-focus {
    .lift-container,
    .news-container .row-news .news-item,
    .some-container .some-row div {
      opacity: 1;
    }
  }
  section.tribe {
    .tribe-container {
      padding: 120px $base_padding;
      grid-column-start: 1;
      grid-column-end: 12;
      @media screen and  (max-width : 420px) {
        padding: $base_padding;
        display: block;
        min-height: 0;
      }
      h1 {
        margin: 0
      }
      img {
        grid-column-start: 1;
        grid-column-end: 8;
        max-width: 100%;
        object-fit: contain;
        @media screen and  (max-width : 880px) {
          grid-column-end: 13;
        }
      }
      .content {
        grid-column-start: 9;
        grid-column-end: 12;
        @media screen and  (max-width : 880px) {
          padding-top: $base_padding;
          grid-column-start: 1;
        }
      }

      .rich-text {
        > p > img {
          opacity: .4;
        }
        > p:empty {
          display: none;
        }
      }
      .info-links {
        grid-column-start: 1;
        grid-column-end: 6;
        padding: 0;

        a {
          font-family: $titillium-web;
          display: inline;
          color: black;
          text-transform: uppercase;
          font-weight: bold;
          font-size: 16px;
          letter-spacing: $letter-spacing-medium;
        }
        @media screen and (min-width: 490px) {
          a::after {
            content: " | ";
            padding: 5px;
          }
          a:last-child:after {
            content: "";
          }
        }
      }
      #some-cta {
        @media screen and (max-width: 490px) {
          display: none;
        }
      }
    }
  }
  .tribe-body, #lift {
    display: flex;
    justify-content: center;
  }

  #lift {
    .tribe-main-lift {
      margin: 0 auto;
      display: flex;
      justify-content: center;
      overflow: hidden;
      .rich-text {

        > p {margin: 0;}

        .responsive-object {
          padding: 0!important;
        }
      }
    }
  }
  .tribe-news {
    .news-container {
      .row-head {
        grid-column-start: 1;
        grid-column-end: 13;
      }
    }
    @media screen and (min-width : 176px) and  (max-width : 640px) {
      display: block;
    }
    .news-container {
      .row-head {
        padding: 50px;

        @media screen and (max-width: 640px) {
          padding: 50px 10px 30px 10px;
          > a {
            font-size: 12px;
          }
        }
      }
      .row-news {
        grid-column-start: 1;
        grid-column-end: 13;
        display: flex;
        align-items: center;
        @media screen and (min-width: 176px) and (max-width: 920px) {
          flex-direction: column;
          div.news-item {
            width: 320px;
          }
        }
        .news-item {
          opacity: 0;
          transition: $scroll-transition;
          width: 300px;
          height: auto;
          padding: $base_padding;
          @media screen and (max-width: 1160px) {
            width: 250px;
          }
          @media screen and (min-width: 176px) and (max-width: 1024px) {
            padding: $base_padding / 2;
          }
          > a {
            > div.news-image {
              width: 250px;
              height: 150px;
              display: flex;
              justify-content: center;
              align-items: center;

              img {
                width: 100%;
                height: 100%;
              }
            }
          }
          .item-text-container {
            align-self: center;
            padding: 25px 0 100px 0;
            @media screen and (min-width: 176px) and (max-width: 1024px) {
              padding: 20px 0 0 0;
            }
            > a > h2 {
              margin: 0;
            }
          }
        }
      }
    }
  }
}
