<!doctype html>
{% load compress %}
{% load staticfiles %}
{% load wagtailcore_tags %}



<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <meta name="description" content={{page.description}}>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
    {% compress css %}
      <link rel="stylesheet" type="text/x-scss" href="{% static 'scss/main.scss' %}"/>
    {% endcompress %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Black+Ops+One|Encode+Sans|Titillium+Web" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="main-grid-header">
        <h1 class="main-header-text header">westend indians</h1>
        <h2 class="main-header-text slogan">Once a member - always a part of the tribe</h2>
        <img id="main-img" src="http://i67.tinypic.com/67ts41.jpg">
          <ul class="nav-index">
            <li><a href="{%slugurl 'home'%}"><img id="nav-logo" src="http://i67.tinypic.com/30kralk.png" /></a></li>
            {% for menuitem in request.site.root_page.get_children.live %}
                <li><a href="{{ menuitem }}">{{ menuitem.title.upper }}</a></li>
            {% endfor %}
          </ul>
      </div>
      <div class="main-grid-body">
        {% block main %}
          you forgot the main block!
        {% endblock %}
      </div>
      <div class="main-grid-footer">
        <footer>footer</footer>
      </div>
    </div>
    <script src="{% static 'js/vendor/react-0.14.3.js' %}"></script>
    <script src="{% static 'js/vendor/react-dom-0.14.3.js' %}"></script>
    <!--
    <script src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
    -->
    {% compress js %}
    <script type="text/jsx" src="{% static 'js/index.jsx' %}"></script>
    <script type="text/jsx" src="{% static 'js/components/player_modal.jsx' %}"></script>
    <script type="text/jsx" src="{% static 'js/components/player.jsx' %}"></script>
    <script type="text/jsx" src="{% static 'js/components/player_browser.jsx' %}"></script>
    <script type="text/jsx" src="{% static 'js/components/team_browser.jsx' %}"></script>
    <script type="text/jsx" src="{% static 'js/components/team_filter.jsx' %}"></script>
    {% endcompress %}
  </body>
</html>
</doctype>
