<!doctype html>
{% load compress %}
{% load staticfiles %}
{% load wagtailcore_tags %}

<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1">
    <meta name="theme-color" content="#0b0b0b">
    <title>{% block title %}Westend Indians{% endblock %}</title>
    <meta name="description" content={{page.description}}>

    {% compress css %}
      <link rel="stylesheet" type="text/x-scss" href="{% static 'scss/main.scss' %}"/>
      <link rel="stylesheet" type="text/x-scss" href="{% static 'scss/vendor/normalize.css' %}"/>
      <link rel="stylesheet" type="text/x-scss" href="{% static 'scss/vendor/react-select.css' %}"/>
    {% endcompress %}

    <link href="https://fonts.googleapis.com/css?family=Black+Ops+One|Encode+Sans|Titillium+Web" rel="stylesheet">
  </head>

  <body class="{% block body_css_class %}{% endblock %}">
    <div class="container">
      <div class="main-grid-header">
        {% include "header.html" %}
      </div>
      <div class="main-grid-body">
        {% block main %}
          you forgot the main block!
        {% endblock %}
      </div>
      <div class="main-grid-footer">
        {% block footer %}
          you forgot the footer block!
        {% endblock %}
      </div>
    </div>

    {% compress js %}
      <script src="{% static 'js/vendor/react-0.14.3.js' %}"></script>
      <script src="{% static 'js/vendor/react-dom-0.14.3.js' %}"></script>
      <script src="{% static 'js/vendor/classnames@2.2.5/index.js' %}"></script>
      <script src="{% static 'js/vendor/prop-types@15.5.10/prop-types.js' %}"></script>
      <script src="{% static 'js/vendor/react-input-autosize@2.0.0/react-input-autosize.js' %}"></script>
      <script src="{% static 'js/vendor/react-select@1.2.1/react-select.js' %}"></script>
      <script src="{% static 'js/vendor/pure-swipe.min.js' %}"></script>

      <script type="text/jsx" src="{% static 'js/i18n.js' %}"></script>
      <script type="text/jsx" src="{% static 'js/index.jsx' %}"></script>
      <script type="text/jsx" src="{% static 'js/scrolling.js' %}"></script>

    <script type="text/jsx" src="{% static 'js/components/news_carousel.jsx' %}"></script>
      <script type="text/jsx" src="{% static 'js/components/player_modal.jsx' %}"></script>
      <script type="text/jsx" src="{% static 'js/components/player.jsx' %}"></script>
      <script type="text/jsx" src="{% static 'js/components/player_browser.jsx' %}"></script>
      <script type="text/jsx" src="{% static 'js/components/player_introducing.jsx' %}"></script>

      <script type="text/jsx" src="{% static 'js/components/team_filter.jsx' %}"></script>
      <script type="text/jsx" src="{% static 'js/components/team_browser.jsx' %}"></script>
      <script type="text/jsx" src="{% static 'js/components/team_modal.jsx' %}"></script>
    {% endcompress %}


    <!-- Facebook chat, currently tied to montel page id -->
    <!--https://developers.facebook.com/docs/messenger-platform/discovery/customer-chat-plugin-->
    <div class="fb-customerchat" page_id="1573381936298767"></div>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId            : '214591115952543',
          autoLogAppEvents : true,
          xfbml            : true,
          version          : 'v2.12'
        });
      };

      (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>

  </body>
</html>


