{% load staticfiles %}
{% load wagtailcore_tags %}

<section class="footer">
  <div class="whiteblock ignore-height">
    <img class="triangle flip-x" src="{% static "images/tilted-bg-white-top.svg" %}">
  </div>
  <img class="triangle flip-x justify-bottom" src="{% static "images/tilted-bg-white-bottom.svg" %}">
  <div class="container">
    <div class="partners">
      {% block sponsors %}
      <div class="top-level row">
          <h2>Pääyhteistyökumppanit</h2>
        <div>
          {% for sponsor in sponsor_items %}
          {% if sponsor.level == 'top' %}
          <div>
            <a href="{{ sponsor.url|default_if_none:sponsor.image.url }}" target="_blank"><img src="{{ sponsor.sponsor_thumbnail.url }}"></a>
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
      <div class="second-level row">
        <h2>Yhteistyössä</h2>
        <div>
          {% for sponsor in sponsor_items %}
          {% if sponsor.level == 'second' %}
          <div>
            <a href="{{ sponsor.url|default_if_none:sponsor.image.url }}" target="_blank"><img src="{{ sponsor.image.url }}"></a>
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
      <div class="third-level row">
        <h2>Kentällä mukana</h2>
        <div>
          {% for sponsor in sponsor_items %}
          {% if sponsor.level == 'third' %}
          <div>
            <a href="{{ sponsor.url|default_if_none:sponsor.image.url }}" target="_blank"><img src="{{ sponsor.sponsor_thumbnail.url }}"></a>
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
      {% endblock %}
    </div>
    <hr>
    <div class="info">
      <div class="logo">
        {% for logo in sponsor_items %}
          {% if logo.level == 'bottom' %}
            <div>
              {% if logo.url %}
                <a href="{{ logo.url }}" target="_blank"><img src="{{ logo.sponsor_thumbnail.url }}"></a>
              {% else %}
                <img src="{{ logo.sponsor_thumbnail.url }}">
              {% endif %}
            </div>
          {% endif %}
        {% endfor %}
      </div>
      <div class="mid">
        <img src="{% static 'images/logo.png' %}" />
        <a id="indians"href="{% slugurl 'home' %}"><h1>Westend Indians</h1></a>
      </div>
      <div class="social">
        <a href="https://www.facebook.com/westendindians/">
          {% include "icons/facebook_icon.html" %}
        </a>
        <a href="https://www.twitter.com/westendindians/">
          {% include "icons/twitter_icon.html" %}
        </a>
        <a href="https://www.instagram.com/westendindians/">
          {% include "icons/instagram_icon.html" %}
        </a>
        <a href="https://www.flickr.com/photos/westendindians/">
          {% include "icons/flickr_icon.html" %}
        </a>
        <a href="https://www.youtube.com/user/WestendIndians">
          {% include "icons/youtube_icon.html" %}
        </a>
      </div>
    </div>
    <div class="slogan">
      <hr>
      <p>Once a member - always part of the tribe</p>
    </div>
  </div>
</section>