{% load staticfiles %}
{% load wagtailcore_tags %}
{% load startswith %}

<section class="header">

  <a href="/"><div class="title" id="page-header">
    <h1>
      Westend Indians
    </h1>
    <p class="slogan">
      {% if page %}
        {% if page.title == 'Westend Indians' %}
          Once a member - always part of the Tribe

        {% endif %}
      {% endif %}

    </p>
  </div></a>

  {% if request.path|startswith:'/miehet-edustus' %}
    <a href="/"><img class="main-img representative-team" src="{% static "images/faces_1200x.jpg" %}"></a>
  {% else %}
    <a href="/"><img class="main-img" src="{% static "images/faces_indians_1200x.jpg" %}"></a>
  {% endif %}

  <nav id="mobile-nav" class="">
    <div class="hamburger">
      <img src="{% static 'images/hamburger.svg' %}" />
    </div>
    <ul>
      <li class="close">
        ✕
      </li>
      <li class="logo">
        <a href="{% slugurl 'home' %}">
          <img src="{% static 'images/logo.png' %}" />
        </a>
      </li>
      {% for menuitem in request.site.root_page.get_children.live.in_menu %}
      <li>
        <a class="{% if request.path|startswith:menuitem.url %} current {% endif %}" href="/{{ menuitem.slug }}">
          {{ menuitem.title }}
        </a>
        <ul>
          {% for second_level_menuitem in menuitem.get_children.live.in_menu %}
            <li>
              <a class="{% if request.path|startswith:second_level_menuitem.url %} current {% endif %}"
                 href="/{{ menuitem.slug }}/{{ second_level_menuitem.slug }}">
                {{ second_level_menuitem.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </li>
      {% endfor %}
    </ul>
  </nav>

  <nav>
    <ul class="nav-index">
      {% for menuitem in request.site.root_page.get_children.live.in_menu %}
        <li class="link">
          <a class="{% if request.path|startswith:menuitem.url %} current {% endif %}" href="/{{ menuitem.slug }}">
            {{ menuitem.title.upper }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </nav>

  {% if self.url != '/' and self.get_children %}
    {% include "subnav.html" with pages=self.get_children.live.in_menu %}
  {% elif appear_as_page %}
    {% include "subnav.html" with pages=appear_as_page.get_children.live.in_menu %}
  {% elif self.depth == 4 %}
    {% include "subnav.html" with pages=self.get_parent.get_children.live.in_menu %}
  {% endif %}

</section>