{% load staticfiles %}
{% load wagtailcore_tags %}
{% load startswith %}

<section class="header">
  <h1 class="main-header-text header">Westend Indians</h1>

  {% if self.url == '/' %}
    <p class="main-header-text slogan rootslogan">Once a member - always part of the tribe</p>
  {% elif title %}
    <p class="main-header-text slogan">{{ title }}</p>
  {% else %}
    <p class="main-header-text slogan">{{ properties.name }}</p>
  {% endif %}

  {% if request.path|startswith:'/miehet-edustus' %}
    <img class="main-img" src="{% static "images/faces_1200x.jpg" %}">
  {% else %}
    <img class="main-img" src="{% static "images/faces_indians_1200x.jpg" %}">
  {% endif %}

  <nav>
    <!--<img src="{% static 'images/logo.png' %}" />-->
    <a class="feather" href="{%slugurl 'home'%}">
      <img src="{% static 'images/feather-start.png' %}" />
    </a>
    <ul class="nav-index">
      {% for menuitem in request.site.root_page.get_children.live.in_menu %}
        <li class="link">
          <a class="{% if request.path|startswith:menuitem.url %} current {% endif %}" href="/{{ menuitem.slug }}">
            {{ menuitem.title.upper }}
          </a>
        </li>
        {% if forloop.counter == 2 %}
        <li class="logo">
          <a href="{% slugurl 'home' %}">
            <img src="{% static 'images/logo.png' %}" />
          </a>
        </li>
        {% endif %}
      {% endfor %}
    </ul>
    <a class="feather right" href="{%slugurl 'home'%}">
      <img src="{% static 'images/feather-end.png' %}" />
    </a>
  </nav>

  {% if self.url != '/' and self.get_children %}
    {% include "subnav.html" with pages=self.get_children.live %}
  {% elif self.depth == 4 %}
    {% include "subnav.html" with pages=self.get_parent.get_children.live %}
  {% endif %}
</section>