[Unit]
Description=Webhooker daemon
After=syslog.target

[Service]
Type=simple
User={{webhooker_user}}
Group={{webhooker_group}}
WorkingDirectory={{webhooker_working_dir}}
ExecStart={{webhooker_working_dir}}webhooker.py --port=8997
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target