{% extends "base_layout.html" %}

{% load wagtailcore_tags %}
{% load staticfiles %}
{% load wagtailimages_tags %}

{% block body_css_class %}team_page{% endblock %}

{% block title %}
  {{ properties.name }}
{% endblock %}

{% block main %}
  <img class="triangle justify-bottom" src="{% static "images/tilted-bg-black-top.svg" %}">

  <section class="team" style="background-color: white;">
    <div class="team-container"}>
      <h1>{{ properties.name }}</h1>
      <div class="content">
        {% if properties.image %}
          <img class="team-img" src="{{ properties.image }}">
        {% else %}
          <img id="default" src="{% static 'images/logo.png' %}" />
        {% endif %}
        <div>
          {% if properties.contact_name %}
            <div class="contact">
              <div>
                <h2>Urheiluvastaava</h2>
                <p>{{ properties.contact_name }}</p>
              {% if properties.contact_email %}
                <p>{{ properties.contact_email }}</p>
              {% endif %}
              {% if properties.contact_phone %}
                <p>{{ properties.contact_phone }}</p>
              {% endif %}
              </div>
              {% if properties.contact_image %}
                <img src="{{ properties.contact_image }}"/>
              {% endif %}
            </div>
          {% endif %}
          {% if properties.leader_name %}
            <div class="leader">
              <div>
                <h2>Joukkueenjohtaja</h2>
                <p>{{ properties.leader_name }}</p>
                {% if properties.leader_email %}
                  <p>{{ properties.leader_email }}</p>
                {% endif %}
                {% if properties.leader_phone %}
                  <p>{{ properties.leader_phone }}</p>
                {% endif %}
              </div>
              {% if properties.leader_image %}
                <img src="{{ properties.leader_image }}"/>
              {% endif %}
            </div>
          {% endif %}
        </div>
      </div>
      <div class="description">
        <p>{{ properties.description|safe }}</p>
      </div>
      <div class="info">
        <div class="signup">
          {% if properties.current_player_count and properties.max_player_count %}
          <p>Nykyinen pelaajamäärä: {{ properties.current_player_count }}/{{ properties.max_player_count }}</p>
          {% endif %}
          {% if properties.registration_link %}
          <a href="{{ properties.registration_link }}" target="_blank" class="button">
            Liity mukaan
          </a>
          {% endif %}
        </div>
      </div>
    </div>
  </section>

  {% if members|length >= 10  %}
    <img class="triangle" src="{% static "images/tilted-bg-black-bottom.svg" %}">
    <section class="players" id="players">
    </section>


    <script type="application/javascript">
      var team_members = {{ members|safe }} ;
      window.onload = function() {
        if(document.getElementById("players")!=null && team_members){
          createPlayerBrowser("players");
        }
      }
    </script>
  {% endif %}

{% endblock %}

{% block footer %}
  {% include "footer.html" with sponsor_items=sponsors %}
{% endblock %}



