{% extends "base_layout.html" %}
{% load wagtailcore_tags %}
{% load staticfiles %}
{% load wagtailimages_tags %}


{% block title %} {{ properties.name }} {% endblock %}
{% block main %}
  <section class="team" style="background-color: white;">
    <div class="teams-team-container"}>
      <h1>{{ properties.name }}</h1>
      {% if properties.image %}
        <img class="teams-team-img" src="{{ properties.image }}">
      {% else %}
        <img src="{% static "images/indians_logo_345x345.jpg" %}">
      {% endif %}
      <div class="content team">
        <div class="team-contact">
          {% if properties.contact_name %}
            <h2>Urheiluvastaava</h2>
            <p>{{ properties.contact_name }}</p>
          {% endif %}
          {% if properties.contact_email %}
            <p>{{ properties.contact_email }}</p>
          {% endif %}
          {% if properties.contact_phone %}
            <p>{{ properties.contact_phone }}</p>
          {% endif %}
        </div>
        <div class="team-leader">
          {% if properties.leader_name %}
            <h2>Joukkueenjohtaja</h2>
            <p>{{ properties.leader_name }}</p>
          {% endif %}
          {% if properties.leader_email %}
            <p>{{ properties.leader_email }}</p>
          {% endif %}
          {% if properties.leader_phone %}
            <p>{{ properties.leader_phone }}</p>
          {% endif %}
        </div>
        <div class="team-info">
          {% if properties.current_player_count and properties.max_player_count %}
            <p>Nykyinen pelaajamäärä: {{ properties.current_player_count }}/{{ properties.max_player_count }}</p>
          {% endif %}
        </div>
      </div>
      <div class="team-description">
        <p>{{ properties.description|safe }}</p>
      </div>
    </div>
  </section>
  {% if members|length > 10  %}
    <img class="triangle flip-y justify-top" src="{% static "images/tilted-bg-black-top.svg" %}">
    <section class="players" id="players">
      <div class="players-container">
      </div>
    </section>
  {% endif %}

  <script type="application/javascript">
    var team_members = {{ members|safe }} ;
    window.onload = function() {
      if(document.getElementById("players")!=null && team_members){
        createPlayerBrowser("players");
      }
    }
  </script>
{% endblock %}
{% block footer %}
  {% include "footer.html" with sponsor_items=sponsors %}
{% endblock %}



