{% extends "base_layout.html" %}

{% load staticfiles %}

{% block body_css_class %}news_page{% endblock %}

{% block title %} {{event.title}} {% endblock %}

{% block main %}

<section class="news-items">
  <div class="news-item-container">
    <div class="news-item">
      {% if event.image %}
        <img src="{{event.image_wide.url}}" />
      {% endif %}
      <h1 id="{{ event.id }}">
        {{ event.name }}
      </h1>
      <p>
        {{ event.description|safe }}
      </p>

      <div class="location">
        <p>
          {{ event.street_address }}, {{ event.city }}
        </p>
      </div>
    </div>
    <div class="cta">
      <a class="button" href="/">Etusivulle</a>
    </div>
  </div>
</section>

<img class="triangle black-bg" src="{% static "images/tilted-line-almost-black.svg" %}">

{% endblock %}

{% block footer %}
{% include "footer.html" with sponsor_items=sponsors %}
{% endblock %}