{% extends "base_layout.html" %}

{% load staticfiles %}

{% block body_css_class %}news_page{% endblock %}

{% block title %} {{news_item.title}} {% endblock %}

{% block main %}
<section class="news-items">
  <div class="news-item-container">

    <div id="news-carousel"></div>

    <h1>Vanhemmat uutiset</h1>

    {% for news_item in rest_of_news %}
      <div class="news-item old-news">
        <div class="image">
          {% if news_item.image %}
            <img src="{{news_item.image_medium.url}}" />
          {% else %}
            <img src="{% static "images/g12.max-165x165.png" %}" />
          {% endif %}
        </div>

        <div class="text">
          <h2 id="{{ news_item.id }}">
            {{ news_item.title }}
          </h2>

          <p class="lead-paragraph">
            {{ news_item.ingress }}
          </p>

          <a href="{% url 'news_item' news_item.slug %}" class="button">Lue koko juttu</a>
        </div>
      </div>
    {% endfor %}

    <div class="pages">
      {% if rest_of_news.has_previous %}
        <a class="button" href="?page=1">&laquo;</a>
        <a class="button" href="?page={{ rest_of_news.previous_page_number }}">edellinen</a>
      {% endif %}

      <span class="current">
        Sivu {{ rest_of_news.number }} / {{ rest_of_news.paginator.num_pages }}
      </span>

      {% if rest_of_news.has_next %}
        <a class="button" href="?page={{ rest_of_news.next_page_number }}">seuraava</a>
        <a class="button" href="?page={{ rest_of_news.paginator.num_pages }}">&raquo;</a>
      {% endif %}
    </div>
  </div>
</section>

<script type="application/javascript">
  var news = {{ news_for_carousel_json|safe }};
  window.onload = function() {
    createNewsCarousel("news-carousel", news);
  }
</script>

{% endblock %}

{% block footer %}
{% include "footer.html" with sponsor_items=sponsors %}
{% endblock %}