{% extends "base_layout.html" %}

{% load staticfiles %}

{% block body_css_class %}news_page{% endblock %}

{% block title %} {{news_item.title}} {% endblock %}

{% block main %}
<section class="news-items">
  <div class="news-item-container">

    <div id="news-carousel"></div>

    <h1>Vanhemmat uutiset</h1>

    {% for news_item in rest_of_news %}
    <div class="news-item">
      <h2 id="{{ news_item.id }}">
        {{ news_item.title }}
      </h2>
      <p id="lead-paragraph">
        {{ news_item.ingress }}
      </p>
      <a href="{% url 'news_item' news_item.slug %}" class="button">Lue koko juttu</a>
    </div>
    {% endfor %}
  </div>
</section>

<img class="triangle flip-x justify-bottom" src="{% static "images/tilted-bg-black-bottom.svg" %}">

<script type="application/javascript">
  var news = {{ news_for_carousel_json|safe }};
  window.onload = function() {
    createNewsCarousel("news-carousel", news);
  }
</script>

{% endblock %}

{% block footer %}
{% include "footer.html" with sponsor_items=sponsors %}
{% endblock %}